<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<!--@if(isset($fonts['Montserrat']))-->
	<load target="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" />
<!--@end-->
<!--@if(isset($fonts['Pretendard']))-->
	<load target="pretendard/pretendard.min.css" />
<!--@end-->
<load target="../../../common/xeicon/xeicon.min.css" />
<load target="remixicon/remixicon.css" />
<!--@if(isset($fonts['FontAwesome']))-->
	<load target="fontawesome/font-awesome.min.css" />
<!--@end-->
<!--@if(isset($fonts['NanumGothic']))-->
	<load target="nanumgothic/nanumgothic.css" />
<!--@end-->
<!--@if(isset($fonts['NanumSquare']))-->
	<load target="nanumsquare/nanumsquare.css" />
<!--@end-->
