<div class="best_money_wrap">
    <img class="zbxe_widget_output" widget="naedon_naeson" skin="default" widget_sequence="465" widget_cache="0m" list_count="6" product_board_module_srl_list="358" region_board_module_srl_list="162" />

    <div class="banner-outer lg:mt-100 lg:ds-b ds-n">
        <div class="swiper bannerSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url(/assets/images/main/banner2.jpg);">
                    <div class="banner-content">
                        <div class="banner-img">
                            <img src="/assets/images/main/banner_icon2.png" alt="icon">
                        </div>
                        <div class="banner-text">
                            <h3>리뷰와 보상을 연결하는</h3>
                            <h2>가장 확실한 통로, <span class="bh_color_main">품앗히.</span></h2>
                            <a href="/poomahhi" class="btn-start">지금 바로 거래 시작하기</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" style="background-image: url(/assets/images/main/banner2.jpg);">
                    <div class="banner-content">
                        <div class="banner-img">
                            <img src="/assets/images/main/banner_icon2.png" alt="icon">
                        </div>
                        <div class="banner-text">
                            <h3>리뷰와 보상을 연결하는</h3>
                            <h2>가장 확실한 통로, <span class="bh_color_main">품앗히.</span></h2>
                            <a href="/poomahhi" class="btn-start">지금 바로 거래 시작하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-prev"><i class="ri-arrow-left-line"></i></div>
        <div class="banner-next"><i class="ri-arrow-right-line"></i></div>
    </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    const mainBanner = new Swiper('.bannerSwiper', {
        loop: true,
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
        speed: 1000,
        navigation: {
            nextEl: '.banner-next',
            prevEl: '.banner-prev',
        },
    });
</script>