@charset "UTF-8";
@import "css/variables";
:root, .dark_no {
	--bh_color_main: #{$bh_color_main};
	--bh_color_main_50: #{mix(white, $bh_color_main, 90%)};
	--bh_color_main_100: #{mix(white, $bh_color_main, 80%)};
	--bh_color_main_200: #{mix(white, $bh_color_main, 60%)};
	--bh_color_main_300: #{mix(white, $bh_color_main, 40%)};
	--bh_color_main_400: #{mix(white, $bh_color_main, 20%)};
	--bh_color_main_600: #{mix(black, $bh_color_main, 20%)};
	--bh_color_main_700: #{mix(black, $bh_color_main, 40%)};
	--bh_color_main_800: #{mix(black, $bh_color_main, 60%)};
	--bh_color_main_900: #{mix(black, $bh_color_main, 80%)};
	--bh_color_main_light: #{mix(white, $bh_color_main, 20%)};
	--bh_color_main_dark: #{mix(black, $bh_color_main, 20%)};
	--bh_color_sub: #{$bh_color_sub};
	--bh_color_sub_50: #{mix(white, $bh_color_sub, 90%)};
	--bh_color_sub_100: #{mix(white, $bh_color_sub, 80%)};
	--bh_color_sub_200: #{mix(white, $bh_color_sub, 60%)};
	--bh_color_sub_300: #{mix(white, $bh_color_sub, 40%)};
	--bh_color_sub_400: #{mix(white, $bh_color_sub, 20%)};
	--bh_color_sub_600: #{mix(black, $bh_color_sub, 20%)};
	--bh_color_sub_700: #{mix(black, $bh_color_sub, 40%)};
	--bh_color_sub_800: #{mix(black, $bh_color_sub, 60%)};
	--bh_color_sub_900: #{mix(black, $bh_color_sub, 80%)};
	--bh_color_sub_light: #{mix(white, $bh_color_sub, 20%)};
	--bh_color_sub_dark: #{mix(black, $bh_color_sub, 20%)};
	--bh_color_point: #{$bh_color_point};
	--bh_color_point_50: #{mix(white, $bh_color_point, 90%)};
	--bh_color_point_100: #{mix(white, $bh_color_point, 80%)};
	--bh_color_point_200: #{mix(white, $bh_color_point, 60%)};
	--bh_color_point_300: #{mix(white, $bh_color_point, 40%)};
	--bh_color_point_400: #{mix(white, $bh_color_point, 20%)};
	--bh_color_point_600: #{mix(black, $bh_color_point, 20%)};
	--bh_color_point_700: #{mix(black, $bh_color_point, 40%)};
	--bh_color_point_800: #{mix(black, $bh_color_point, 60%)};
	--bh_color_point_900: #{mix(black, $bh_color_point, 80%)};
	--bh_color_point_light: #{mix(white, $bh_color_point, 20%)};
	--bh_color_point_dark: #{mix(black, $bh_color_point, 20%)};
	--bh_color_red: #f63440;
	--bh_color_red_point: #be2125;
	--bh_color_blue: #0058a6;
	--bh_color_text: #212121;
	--bh_color_white: white;
	--bh_color_black: black;
	--bh_color_gray_50: #fafafa;
	--bh_color_gray_100: #f5f5f5;
	--bh_color_gray_200: #eeeeee;
	--bh_color_gray_300: #e0e0e0;
	--bh_color_gray_400: #bdbdbd;
	--bh_color_gray_500: #9e9e9e;
	--bh_color_gray_600: #757575;
	--bh_color_gray_700: #616161;
	--bh_color_gray_800: #424242;
	--bh_color_gray_900: #212121;
	--bh_color_bg_main: white;
	--bh_color_bg_sub: white;
}
.color_scheme_dark {
	--bh_color_text: #fafafa;
	--bh_color_white: black;
	--bh_color_black: white;
	--bh_color_gray_50: #212121;
	--bh_color_gray_100: #424242;
	--bh_color_gray_200: #616161;
	--bh_color_gray_300: #757575;
	--bh_color_gray_400: #9e9e9e;
	--bh_color_gray_500: #bdbdbd;
	--bh_color_gray_600: #e0e0e0;
	--bh_color_gray_700: #eeeeee;
	--bh_color_gray_800: #f5f5f5;
	--bh_color_gray_900: #fafafa;
	--bh_color_bg_main: #1a1b1d;
	--bh_color_bg_sub: #2e2f32;
}
@media (prefers-color-scheme: dark) {
	:root {
		--bh_color_text: #fafafa;
		--bh_color_white: black;
		--bh_color_black: white;
		--bh_color_gray_50: #212121;
		--bh_color_gray_100: #424242;
		--bh_color_gray_200: #616161;
		--bh_color_gray_300: #757575;
		--bh_color_gray_400: #9e9e9e;
		--bh_color_gray_500: #bdbdbd;
		--bh_color_gray_600: #e0e0e0;
		--bh_color_gray_700: #eeeeee;
		--bh_color_gray_800: #f5f5f5;
		--bh_color_gray_900: #fafafa;
		--bh_color_bg_main: #1a1b1d;
		--bh_color_bg_sub: #2e2f32;
	}
	.color_scheme_light, .dark_no {
		--bh_color_text: #212121;
		--bh_color_white: white;
		--bh_color_black: black;
		--bh_color_gray_50: #fafafa;
		--bh_color_gray_100: #f5f5f5;
		--bh_color_gray_200: #eeeeee;
		--bh_color_gray_300: #e0e0e0;
		--bh_color_gray_400: #bdbdbd;
		--bh_color_gray_500: #9e9e9e;
		--bh_color_gray_600: #757575;
		--bh_color_gray_700: #616161;
		--bh_color_gray_800: #424242;
		--bh_color_gray_900: #212121;
		--bh_color_bg_main: white;
		--bh_color_bg_sub: white;
	}
}
/* init */
*:not(body:not(.cke_editable)) {
	&::-webkit-scrollbar {
		/*width: 6px;*/
		width: 12px;
		height: 12px;
	}
	&::-webkit-scrollbar-track {
		/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
		background: rgba(163, 163, 163, 0.68);
		background-clip: padding-box;
		border: 3px solid transparent;
	}
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
	word-wrap: break-word;
	word-break: keep-all;
}
html {
	font-size: 10px;
	font-size: 62.5%;
}
body {
	background-color: var(--bh_color_bg_main) !important;
	padding-top: env(safe-area-inset-top);
	padding-right: env(safe-area-inset-right);
	padding-bottom: env(safe-area-inset-bottom);
	padding-left: env(safe-area-inset-left);
	overflow-x: hidden;
	overflow-y: scroll;
	/*overflow-y: overlay;*/
	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(163, 163, 163, 0.68);
	}
}
body, input, textarea, select, button, table {
	font-family: $font_family;
	color: var(--bh_color_text);
	font-size: 1.6rem;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
ul, ol {
	list-style: none;
	outline-style: none;
}
img, fieldset {
	border: 0;
}
a {
	color: inherit;
	text-decoration: none;
	&:hover, &:active, &:focus {
		color: inherit;
		text-decoration: none;
	}
}
a, button, input[type="button"], input[type="submit"] {
	-webkit-tap-highlight-color : transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
a:focus, button:focus {
	outline: none;
}
.bh {
	ul, ol, li, dl, dt, dd {
		margin: 0;
		padding: 0;
		-webkit-text-size-adjust: none;
		word-wrap: break-word;
		word-break: keep-all;
	}
	ul, ol {
		list-style: none;
		outline-style: none;
	}
}
/* -init */

/* Common */
.bh {
	.clearfix {
		zoom: 1;
		&:before, &:after {
			content: "";
			display: table;
		}
		&::after {
			clear: both;
		}
	}
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	* {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		&:before, &:after {
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
	}
	.bs-b {
		-moz-box-sizing: border-box !important;
		-webkit-box-sizing: border-box !important;
		box-sizing: border-box !important;
		* {
			-moz-box-sizing: border-box !important;
			-webkit-box-sizing: border-box !important;
			box-sizing: border-box !important;
			&:before, &:after {
				-moz-box-sizing: border-box !important;
				-webkit-box-sizing: border-box !important;
				box-sizing: border-box !important;
			}
		}
	}
	.bs-c {
		-moz-box-sizing: content-box !important;
		-webkit-box-sizing: content-box !important;
		box-sizing: content-box !important;
		* {
			-moz-box-sizing: content-box !important;
			-webkit-box-sizing: content-box !important;
			box-sizing: content-box !important;
			&:before, &:after {
				-moz-box-sizing: content-box !important;
				-webkit-box-sizing: content-box !important;
				box-sizing: content-box !important;
			}
		}
	}
}
@each $key, $max_width in $bh_wrap_max_widths {
	$infix: if($key != 0, "_#{$key}", "");
	.bh_wrap#{$infix} {
		width: 100%;
		max-width: $max_width;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
}
.bh_row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.col,
[class*="col-"] {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.no-gutters {
	margin-right: 0;
	margin-left: 0;
	> .col,
	> [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}
@each $breakpoint in map-keys($bh_breakpoints) {
	$min: map-get($bh_breakpoints, $breakpoint);
	$min: if($min != 0, $min, null);
	$infix: if($min == null, "", "-#{$breakpoint}");
	@include media-min($breakpoint) {
		.col#{$infix} {
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
		}
		.col#{$infix}-auto {
			-ms-flex: 0 0 auto;
			flex: 0 0 auto;
			width: auto;
			max-width: none;
		}
		@for $i from 1 through 12 {
			.col#{$infix}-#{$i} {
				-ms-flex: 0 0 percentage(($i / 12));
				flex: 0 0 percentage(($i / 12));
				max-width: percentage(($i / 12));
			}
			@if $i == 2 {
				.col#{$infix}-#{$i}_5 {
					-ms-flex: 0 0 20%;
					flex: 0 0 20%;
					max-width: 20%;
				}
			}
		}
	}
}
@each $breakpoint in map-keys($bh_breakpoints) {
	$min: map-get($bh_breakpoints, $breakpoint);
	$min: if($min != 0, $min, null);
	$infix: if($min == null, "", "#{$breakpoint}\\:");
	@include media-min($breakpoint) {
		@for $i from 1 through 10 {
			$i: $i * 5;
			.#{$infix}gutters-#{$i} {
				margin-right: -$i * 1px;
				margin-left: -$i * 1px;
				> .col,
				> [class*="col-"] {
					padding-right: $i * 1px;
					padding-left: $i * 1px;
				}
			}
		}
		@if $min {
			.#{$infix}col {
				-ms-flex-preferred-size: 0;
				flex-basis: 0;
				-ms-flex-positive: 1;
				flex-grow: 1;
				max-width: 100%;
			}
			.#{$infix}col-auto {
				-ms-flex: 0 0 auto;
				flex: 0 0 auto;
				width: auto;
				max-width: none;
			}
			@for $i from 1 through 12 {
				.#{$infix}col-#{$i} {
					-ms-flex: 0 0 percentage(($i / 12));
					flex: 0 0 percentage(($i / 12));
					max-width: percentage(($i / 12));
				}
				@if $i == 2 {
					.#{$infix}col-#{$i}_5 {
						-ms-flex: 0 0 20%;
						flex: 0 0 20%;
						max-width: 20%;
					}
				}
			}
		}
		.#{$infix}yes {
			display: block;
		}
		.#{$infix}no {
			display: none;
		}
		.#{$infix}w-a {
			width: auto !important;
		}
		.#{$infix}w-1\/2 {
			width: 50% !important;
		}
		.#{$infix}w-100 {
			width: 100% !important;
		}
		.#{$infix}h-a {
			height: auto !important;
		}
		.#{$infix}h-1\/2 {
			height: 50% !important;
		}
		.#{$infix}h-100 {
			height: 100% !important;
		}
		.#{$infix}po-r {
			position: relative !important;
		}
		.#{$infix}po-a {
			position: absolute !important;
		}
		.#{$infix}po-f {
			position: fixed !important;
		}
		.#{$infix}po-sticky {
			position: sticky !important;
		}
		.#{$infix}po-static {
			position: static !important;
		}
		.#{$infix}ds-b {
			display: block !important;
		}
		.#{$infix}ds-n {
			display: none !important;
		}
		.#{$infix}ds-i {
			display: inline !important;
		}
		.#{$infix}ds-ib {
			display: inline-block !important;
		}
		.#{$infix}ds-r {
			display: revert !important;
		}
		.#{$infix}ds-u {
			display: unset !important;
		}
		.#{$infix}ds-f {
			display: -ms-flexbox !important;
			display: flex !important;
		}
		.#{$infix}ds-if {
			display: inline-flex !important;
		}
		.#{$infix}bh-flex {
			display: -ms-flexbox !important;
			display: flex !important;
		}
		.#{$infix}bh-inline-flex {
			display: inline-flex !important;
		}
		.#{$infix}bh-flex-row {
			-ms-flex-direction: row !important;
			flex-direction: row !important;
		}
		.#{$infix}bh-flex-row-r {
			-ms-flex-direction: row-reverse !important;
			flex-direction: row-reverse !important;
		}
		.#{$infix}bh-flex-col {
			-ms-flex-direction: column !important;
			flex-direction: column !important;
		}
		.#{$infix}bh-flex-col-r {
			-ms-flex-direction: column-reverse !important;
			flex-direction: column-reverse !important;
		}
		.#{$infix}bh-flex-nowrap {
			-ms-flex-wrap: nowrap !important;
			flex-wrap: nowrap !important;
		}
		.#{$infix}bh-flex-wrap {
			-ms-flex-wrap: wrap !important;
			flex-wrap: wrap !important;
		}
		.#{$infix}bh-flex-wrap-r {
			-ms-flex-wrap: wrap-reverse !important;
			flex-wrap: wrap-reverse !important;
		}
		.#{$infix}bh-flex-init {
			-ms-flex: 0 1 auto !important;
			flex: 0 1 auto !important;
		}
		.#{$infix}bh-flex-auto {
			-ms-flex: 1 1 auto !important;
			flex: 1 1 auto !important;
		}
		.#{$infix}bh-flex-1 {
			-ms-flex: 1 1 0% !important;
			flex: 1 1 0% !important;
		}
		.#{$infix}bh-flex-none {
			-ms-flex: none !important;
			flex: none !important;
		}
		.#{$infix}bh-flex-grow {
			flex-grow: 1 !important;
		}
		.#{$infix}bh-flex-grow-0 {
			flex-grow: 0 !important;
		}
		.#{$infix}bh-flex-shrink {
			flex-shrink: 1 !important;
		}
		.#{$infix}bh-flex-shrink-0 {
			flex-shrink: 0 !important;
		}
		@for $i from 1 through 10 {
			$i: $i * 5;
			.#{$infix}space-#{$i} {
				margin: -$i * 1px;
				> [class*="bh-flex-basis-"] {
					padding: $i * 1px;
				}
			}
		}
		.#{$infix}bh-flex-basis-a {
			flex-basis: auto !important;
		}
		.#{$infix}bh-flex-basis-0 {
			flex-basis: 0px !important;
		}
		.#{$infix}bh-flex-basis-1\/2 {
			flex-basis: 50% !important;
		}
		.#{$infix}bh-flex-basis-1\/3 {
			flex-basis: 33.333333% !important;
		}
		.#{$infix}bh-flex-basis-1\/4 {
			flex-basis: 25% !important;
		}
		.#{$infix}bh-flex-basis-1\/5 {
			flex-basis: 20% !important;
		}
		.#{$infix}bh-flex-basis-1\/6 {
			flex-basis: 16.6666666667% !important;
		}
		.#{$infix}bh-flex-basis-1\/8 {
			flex-basis: 12.5% !important;
		}
		.#{$infix}bh-flex-basis-100 {
			flex-basis: 100% !important;
		}
		.#{$infix}fl-l {
			float: left !important;
		}
		.#{$infix}fl-r {
			float: right !important;
		}
		.#{$infix}fl-u {
			float: unset !important;
		}
		.#{$infix}ta-l {
			text-align: left !important;
		}
		.#{$infix}ta-c {
			text-align: center !important;
		}
		.#{$infix}ta-r {
			text-align: right !important;
		}
		.#{$infix}ta-j {
			text-align: justify;
			word-wrap: normal;
			word-break: normal;
		}
		.#{$infix}jc-c {
			-webkit-box-pack: center !important;
			-ms-flex-pack: center !important;
			justify-content: center !important;
		}
		.#{$infix}jc-s {
			-ms-flex-pack: start !important;
			justify-content: flex-start !important;
		}
		.#{$infix}jc-e {
			-ms-flex-pack: end !important;
			justify-content: flex-end !important;
		}
		.#{$infix}jc-a {
			-ms-flex-pack: distribute !important;
			justify-content: space-around !important;
		}
		.#{$infix}jc-b {
			-ms-flex-pack: justify !important;
			justify-content: space-between !important;
		}
		.#{$infix}ai-c {
			-ms-flex-align: center !important;
			align-items: center !important;
		}
		.#{$infix}ai-s {
			-ms-flex-align: start !important;
			align-items: flex-start !important;
		}
		.#{$infix}ai-e {
			-ms-flex-align: end !important;
			align-items: flex-end !important;
		}
		.#{$infix}as-a {
			-ms-flex-item-align: auto !important;
			align-self: auto !important;
		}
		.#{$infix}as-c {
			-ms-flex-item-align: center !important;
			align-self: center !important;
		}
		.#{$infix}as-s {
			-ms-flex-item-align: start !important;
			align-self: flex-start !important;
		}
		.#{$infix}as-e {
			-ms-flex-item-align: end !important;
			align-self: flex-end !important;
		}
		.color_scheme_dark .dark\:#{$infix}yes {
			display: block !important;
		}
		.color_scheme_dark .dark\:#{$infix}no {
			display: none !important;
		}
		.color_scheme_dark .dark\:#{$infix}ds-b {
			display: block !important;
		}
		.color_scheme_dark .dark\:#{$infix}ds-n {
			display: none !important;
		}
		.color_scheme_dark .dark\:#{$infix}ds-i {
			display: inline !important;
		}
		.color_scheme_dark .dark\:#{$infix}ds-ib {
			display: inline-block !important;
		}
		.color_scheme_dark .dark\:#{$infix}ds-f {
			display: -ms-flexbox !important;
			display: flex !important;
		}
		.color_scheme_dark .dark\:#{$infix}ds-if {
			display: inline-flex !important;
		}
	}
}
.va-m {
	vertical-align: middle;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
@each $breakpoint in map-keys($bh_breakpoints) {
	$min: map-get($bh_breakpoints, $breakpoint);
	$min: if($min != 0, $min, null);
	$infix: if($min == null, "", "#{$breakpoint}\\:");
	@include media-min($breakpoint) {
		@each $key, $utility in $utilities {
			@if type-of($utility) == "map" and (map-get($utility, responsive) or $infix == "") {
				$values: map-get($utility, values);
				@each $key, $value in $values {
					$properties: map-get($utility, property);
					@if type-of($properties) == "string" {
						$properties: append((), $properties);
					}
					$property-class: if(map-has-key($utility, class), map-get($utility, class), nth($properties, 1));
					$property-class: if($property-class == null, "", $property-class);
					$property-class-modifier: if($key, if($property-class == "", "", "-") + $key, "");

					.#{$infix + $property-class + $property-class-modifier} {
						@each $property in $properties {
							#{$property}: $value !important;
						}
					}
				}
			}
		}
	}
}
@each $breakpoint, $width in $bh_wrap_max_widths {
	$min: if($width != 0, $width, null);
	$infix: if($min == null, "", "_#{$breakpoint}");
	@if ($breakpoint != "xs") {
		@include media-min($breakpoint) {
			@if ($breakpoint == "xl") {
				.mr-bh_wrap {
					margin-right: calc((100vw - #{$width} - 6px) / 2) !important;
				}
				.ml-bh_wrap {
					margin-left: calc((100vw - #{$width} - 6px) / 2) !important;
				}
				.mr--bh_wrap {
					margin-right: calc(-1 * (100vw - #{$width} + 24px) / 2) !important;
				}
				.ml--bh_wrap {
					margin-left: calc(-1 * (100vw - #{$width} + 24px) / 2) !important;
				}
			}
			.mr-bh_wrap#{$infix} {
				margin-right: calc((100vw - #{$width} - 6px) / 2) !important;
			}
			.ml-bh_wrap#{$infix} {
				margin-left: calc((100vw - #{$width} - 6px) / 2) !important;
			}
			.mr--bh_wrap#{$infix} {
				margin-right: calc(-1 * (100vw - #{$width} + 24px) / 2) !important;
			}
			.ml--bh_wrap#{$infix} {
				margin-left: calc(-1 * (100vw - #{$width} + 24px) / 2) !important;
			}
		}
	}
}
/* -Common */

/* Common img */
.bh img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
.img_max {
	max-width: 100%;
	height: auto;
}
/* -Common img */

/* Common font */
.ff-gms {
	font-family: 'GmarketSans', $font_family !important;
}
.ff-ptd {
	font-family: 'Pretendard', $font_family !important;
}
.ff-scd {
	font-family: 'SCoreDream', $font_family !important;
}
.ff-ng {
	font-family: 'NanumGothic', $font_family !important;
}
.ff-ns {
	font-family: 'NanumSquare', $font_family !important;
}
.ff-nskr {
	font-family: 'Noto Sans KR', $font_family !important;
}
.ff-msrt {
	font-family: 'Montserrat', $font_family !important;
}
.ff-roboto {
	font-family: 'Roboto', $font_family !important;
}
.ff-lato {
	font-family: 'Lato', $font_family !important;
}
.ff-kanit {
	font-family: 'Kanit', $font_family !important;
}
h1.bh, .bh > h1 {
	font-size: 40px;
	font-size: 4rem;
}
h2.bh, .bh > h2 {
	font-size: 32px;
	font-size: 3.2rem;
}
h3.bh, .bh > h3 {
	font-size: 28px;
	font-size: 2.8rem;
}
h4.bh, .bh > h4 {
	font-size: 24px;
	font-size: 2.4rem;
}
h5.bh, .bh > h5 {
	font-size: 20px;
	font-size: 2rem;
}
h6.bh, .bh > h6 {
	font-size: 16px;
	font-size: 1.6rem;
}
p.bh, .bh > p {
	font-size: 14px;
	font-size: 1.4rem;
}
h1.bh, .bh > h1, h2.bh, .bh > h2, h3.bh, .bh > h3 {
	position: relative;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: -1px;
	margin: 0 0 10px 0;
	margin: 0 0 1rem 0;
}
h4.bh, .bh > h4, h5.bh, .bh > h5, h6.bh, .bh > h6 {
	position: relative;
	font-weight: 400;
	line-height: 1.6;
	letter-spacing: -0.35px;
	margin: 0 0 10px 0;
	margin: 0 0 1rem 0;
}
@each $breakpoint in map-keys($bh_breakpoints) {
	$min: map-get($bh_breakpoints, $breakpoint);
	$min: if($min != 0, $min, null);
	$infix: if($min == null, "", "#{$breakpoint}\\:");
	@include media-min($breakpoint) {
		@for $i from 10 through 100 {
			.#{$infix}fs-#{$i} {
				font-size: $i * 1px !important;
				font-size: $i * 0.1rem !important;
			}
		}
		.#{$infix}fw-bbb {
			font-weight: 900 !important;
		}
		.#{$infix}fw-bb {
			font-weight: 800 !important;
		}
		.#{$infix}fw-b {
			font-weight: 700 !important;
		}
		.#{$infix}fw-mm {
			font-weight: 600 !important;
		}
		.#{$infix}fw-m {
			font-weight: 500 !important;
		}
		.#{$infix}fw-n {
			font-weight: 400 !important;
		}
		.#{$infix}fw-l {
			font-weight: 300 !important;
		}
		.#{$infix}fw-tt {
			font-weight: 200 !important;
		}
		.#{$infix}fw-t {
			font-weight: 100 !important;
		}
		.#{$infix}lh-0, .#{$infix}lh-0 * {
			line-height: 0 !important;
		}
		.#{$infix}lh-1, .#{$infix}lh-1 * {
			line-height: 1 !important;
		}
		@for $i from 1 through 9 {
			.#{$infix}lh-1_#{$i}, .#{$infix}lh-1_#{$i} * {
				line-height: $i * 0.1 + 1 !important;
			}
		}
		.#{$infix}lh-2, .#{$infix}lh-2 * {
			line-height: 2 !important;
		}
		.#{$infix}ls-0 {
			letter-spacing: 0 !important;
		}
		.#{$infix}ls--1 {
			letter-spacing: -1px !important;
		}
		.#{$infix}ls--1_5 {
			letter-spacing: -1.5px !important;
		}
		.#{$infix}ls--2 {
			letter-spacing: -2px !important;
		}
		.#{$infix}ls--2_5 {
			letter-spacing: -2.5px !important;
		}
		.#{$infix}ls--3 {
			letter-spacing: -3px !important;
		}
		.#{$infix}ls--3_5 {
			letter-spacing: -3.5px !important;
		}
		.#{$infix}ls--4 {
			letter-spacing: -4px !important;
		}
		.#{$infix}ls--4_5 {
			letter-spacing: -4.5px !important;
		}
		.#{$infix}ls-1 {
			letter-spacing: 1px !important;
		}
		.#{$infix}ls-1_5 {
			letter-spacing: 1.5px !important;
		}
		.#{$infix}ls-2 {
			letter-spacing: 2px !important;
		}
		.#{$infix}ls-2_5 {
			letter-spacing: 2.5px !important;
		}
		.#{$infix}ls-3 {
			letter-spacing: 3px !important;
		}
	}
}
@for $i from 10 through 50 {
	@if ($i < 20) or ($i % 5 == 0) {
		.ti--#{$i} {
			text-indent: $i * -1px;
			padding-left: $i * 1px;
			text-indent: $i * -0.1rem;
			padding-left: $i * 0.1rem;
		}
	}
}
.tw-t {
	overflow: hidden!important;
	text-overflow: ellipsis!important;
	white-space: nowrap!important;
}
.ts-1 {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
/* -Common font */

/* Common color */
@each $color_name, $color in $color_list {
	$color: if($color == 'auto', var(--bh_color_#{$color_name}), $color);
	.bh_color_#{$color_name},
	.hover\:bh_color_#{$color_name}:hover,
	*:hover > .uphover\:bh_color_#{$color_name},
	.active .active\:bh_color_#{$color_name},
	.active.active\:bh_color_#{$color_name},
	.before\:bh_color_#{$color_name}::before,
	.after\:bh_color_#{$color_name}::after,
	.on > .on\:bh_color_#{$color_name},
	.color_scheme_dark .dark\:bh_color_#{$color_name} {
		color: $color !important;
	}
	.bh_bg_color_#{$color_name},
	.hover\:bh_bg_color_#{$color_name}:hover,
	*:hover > .uphover\:bh_bg_color_#{$color_name},
	.active .active\:bh_bg_color_#{$color_name},
	.active.active\:bh_bg_color_#{$color_name},
	.before\:bh_bg_color_#{$color_name}::before,
	.after\:bh_bg_color_#{$color_name}::after,
	.on > .on\:bh_bg_color_#{$color_name},
	.color_scheme_dark .dark\:bh_bg_color_#{$color_name} {
		background-color: $color !important;
	}
	.bh_bd_color_#{$color_name},
	.hover\:bh_bd_color_#{$color_name}:hover,
	*:hover > .uphover\:bh_bd_color_#{$color_name},
	.active .active\:bh_bd_color_#{$color_name},
	.active.active\:bh_bd_color_#{$color_name},
	.before\:bh_bd_color_#{$color_name}::before,
	.after\:bh_bd_color_#{$color_name}::after,
	.on > .on\:bh_bd_color_#{$color_name},
	.color_scheme_dark .dark\:bh_bd_color_#{$color_name} {
		border-color: $color !important;
	}
}
/* -Common color */

/* Layout */
/* Skip to content */
.skip {
	position: relative;
	margin: 0;
	> a {
		display: block;
		height: 0;
		line-height: 28px;
		text-align: center;
		overflow: hidden;
		&:focus {
			height: auto;
		}
	}
}
/* Loader */
.bh_loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 999;
	.loader_circle {
		position: relative;
		top: 50%;
		left: 50%;
		width: 64px;
		height: 64px;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		div {
			position: absolute;
			border: 4px solid #333;
			border-radius: 50%;
			animation: loader_circle 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
			opacity: 1;
			&:nth-child(2) {
				animation-delay: -0.5s;
			}
		}
	}
}
@keyframes loader_circle {
	0% {
		top: 28px;
		left: 28px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: -1px;
		left: -1px;
		width: 58px;
		height: 58px;
		opacity: 0;
	}
}
/* -Loader */

/* top_banner */
.bh .top_banner {
	display: none;
	position: relative;
	height: 90px;
	overflow: hidden;
	> a {
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -960px;
		img {
			max-width: none;
		}
	}
	.top_banner_close {
		position: absolute;
		top: 50%;
		right: 50px;
		color: #ccc;
		font-size: 0;
		background: none;
		border: 0;
		margin-top: -23px;
		cursor: pointer;
		> i {
			font-size: 50px;
			vertical-align: middle;
			margin-top: -5px;
		}
	}
}
/* -top_banner */

/* Slider */
.bh .slider_wrap {
	position: relative;
	overflow: hidden;
}

.bh .player_wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	.player {
		.video-background-controls button {
			display: inline-block;
			width: 28px;
			height: 28px;
			color: #ffffff;
			font-size: 28px;
			line-height: 28px;
			background: none;
			border: none;
			border-radius: 16px;
			padding: 0px;
			margin: 0px;
			opacity: 1;
			cursor: pointer;
			transition: all 250ms ease-in-out;
			filter: drop-shadow(0px 0px 1px black);
			-webkit-appearance: none;
			&~button {
				margin-left: 10px;
			}
			&:hover {
				opacity: 0.5;
			}
		}
		iframe {
			transition: opacity 500ms ease-in-out;
			transition-delay: 250ms;
		}
	}
}

/* Sub */
.sub_top_banner {
	position: relative;
	height: 300px;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	background-color: transparent;
	-ms-animation: pulseBgSlow 20s linear infinite;
	-moz-animation: pulseBgSlow 20s linear infinite;
	-webkit-animation: pulseBgSlow 20s linear infinite;
	animation: pulseBgSlow 20s linear infinite;
	.breadcrumb_wrap {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 42px;
		background-color: rgba(0, 0, 0, 0.3);
		border-bottom: 2px solid #333;
		padding: 11px 0 11px 0;
		.breadcrumb {
			float: right;
			a {
				color: #fff;
				font-size: 14px;
				i {
					color: #bbb;
				}
			}
		}
	}
	.sub_top_banner_content_wrap {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		span {
			color: #333;
			font-size: 25px;
			font-weight: 600;
		}
	}
}
@keyframes pulseBgSlow {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 0 100%;
	}
	100% {
		background-position: 0 0;
	}
}
@-webkit-keyframes pulseBgSlow {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 0 100%;
	}
	100% {
		background-position: 0 0;
	}
}
@-moz-keyframes pulseBgSlow {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 0 100%;
	}
	100% {
		background-position: 0 0;
	}
}
@-ms-keyframes pulseBgSlow {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 0 100%;
	}
}
@include media-max(lg) {
	.sub_top_banner {
		height: 200px;
		.breadcrumb_wrap .breadcrumb {
			float: left;
		}
	}
}

.bh .middle_sub_menu {
	position: relative;
	margin-top: -80px;
	margin-top: -8rem;
	border-top: 1px solid rgba(151, 151, 151, 0.3);
	background-color: rgba(0, 0, 0, 0.5);
	ul li {
		position: relative;
		float: left;
		width: 25%;
		height: 79px;
		height: 7.9rem;
		text-align: center;
		border-left: 1px solid rgba(151, 151, 151, 0.3);
		padding: 0;
		&:last-child {
			border-right: 1px solid rgba(151, 151, 151, 0.3);
		}
		a {
			display: inline-block;
			width: 100%;
			height: 100%;
			color: #fff;
			font-size: 18px;
			font-size: 1.8rem;
			padding: 30px 0 28px;
			padding: 3rem 0 2.8rem;
		}
		&.active a {
			color: #333;
			font-weight: 600;
			background-color: rgba(255, 255, 255, 0.85);
		}
	}
}
@include media-max(lg) {
	.bh .middle_sub_menu ul li {
		&:first-child {
			border-left: 0;
		}
		&:last-child {
			border-right: 0;
		}
	}
}

.bh .middle_breadcrumb_menu {
	position: relative;
	background: #fff;
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
	> div > ul > li {
		float: left;
		position: relative;
		width: 200px;
		border-right: 1px solid #ddd;
		> a {
			display: block;
			padding: 17px 30px 17px 25px;
			color: #333;
			font-size: 1.6rem;
			letter-spacing: -1px;
			border-radius: 3px;
		}
		&:first-child {
			width: 58px;
			> a {
				text-align: center;
				padding-right: 0;
				padding-left: 0;
				border-left: 1px solid #ddd;
			}
		}
		&:hover > a {
			font-weight: 400;
		}
		&.active {
			> a {
				font-weight: 400;
			}
			> .bh_toggle {
				color: #666;
				> .bh_toggle_down {
					display: none;
				}
				> .bh_toggle_up, > a + ul {
					display: block;
				}
			}
		}
		> .bh_toggle {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 58px;
			color: #666;
			font-size: 1.8rem;
			text-align: right;
			background: none;
			border: 0;
			padding: 0;
			margin: 0;
			cursor: pointer;
			outline: none;
			z-index: 2;
			i {
				padding: 20px 11px 20px 11px;
			}
			> .bh_toggle_up {
				display: none;
			}
		}
		> a + ul {
			display: none;
			position: absolute;
			right: 0;
			left: 0;
			background-color: #f7f7f7;
			border: 1px solid #e7e7e7;
			padding: 0;
			z-index: 99;
		}
		> a + ul > li {
			> a {
				display: block;
				color: #666;
				font-size: 1.5rem;
				letter-spacing: -1px;
				padding: 12px 8px 12px 22px;
			}
			&:not(:last-child) {
				border-bottom: 1px solid #e7e7e7;
			}
			&:hover {
				background-color: #fff;
				> a {
					color: #3f48cc;
				}
			}
		}
	}
}
@include media-max(lg) {
	.bh .middle_breadcrumb_menu {
		display: none;
	}
}

.bh .sub_left {
	padding: 30px 30px 30px 0;
}
.bh .sub_right {
	padding: 30px 0 30px 30px;
}
/* -Sub */

/* Content */
.bh {
	.content_wrap {
		position: relative;
		overflow: hidden;
	}
	#content {
		position: relative;
		padding: 30px 0;
	}
	.content_sub_menu {
		margin: -10px 0 30px 0;
		ul li {
			padding: 0 3px;
			a {
				display: inline-block;
				width: 100%;
				color: var(--bh_color_gray_700);
				font-size: 1.5rem;
				font-weight: 600;
				line-height: 24px;
				background: var(--bh_color_gray_50);
				border: 1px solid var(--bh_color_gray_300);
				border-radius: 3px;
				padding: 9px 35px;
				-webkit-transition: all 0.4s;
				-moz-transition: all 0.4s;
				-ms-transition: all 0.4s;
				transition: all 0.4s;
				transition: all 400ms;
			}
		}
	}
	.content_breadcrumb_wrap {
		position: relative;
		display: block;
		width: 100%;
		border-bottom: 1px solid var(--bh_color_gray_300);
		padding: 10px 3px 10px 3px;
		margin: -20px 0 30px 0;
		.content_breadcrumb {
			float: right;
			a {
				color: var(--bh_color_gray_600);
				font-size: 14px;
				i {
					color: var(--bh_color_gray_400);
				}
			}
		}
	}
	.content_header_html {
		margin: -10px 0 30px 0;
	}
	.content_footer_html {
		margin-top: 30px;
	}
}
/* -Content */

/* Float Banner */
.bh {
	#float_banner_left, #float_banner_right {
		position: absolute;
		top: 30px;
		width: 200px;
		z-index: 99;
	}
	#float_banner_left {
		left: -220px;
	}
	#float_banner_right {
		right: -220px;
	}
	#float_banner_left img, #float_banner_right img {
		margin-bottom: 15px;
	}
}
/* -Float Banner */

/* Footer */
.bh .footer {
	position: relative;
	color: var(--bh_color_gray_500);
	background-color: var(--bh_color_gray_50);
	background-position: bottom;
	background-repeat: no-repeat;
	padding: 13px 7px;
	border-top: 1px solid var(--bh_color_gray_200);
	z-index: 1;
	.footer_menu > ul {
		list-style-type: none;
		overflow: hidden;
		border-bottom: 1px solid rgba(221, 221, 221, 0.3);
		padding: 10px 0;
		margin: 0 auto;
		> li {
			float: left;
			text-align: center;
			> a {
				color: var(--bh_color_gray_700);
				font-size: 13px;
				&:hover {
					color: var(--bh_color_gray_800);
				}
				&::after {
					content: "|";
					color: var(--bh_color_gray_300);
					vertical-align: text-top;
					font-size: 12px;
					padding: 0 20px 0 20px;
				}
			}
			&:last-child a::after {
				content: "";
				padding-left: 0;
			}
		}
	}
	.footer_logo {
		border-right: 1px solid var(--bh_color_gray_200);
		padding: 4px 30px 4px 0;
		margin: 0 15px 0 0;
	}
	.copyright {
		padding: 15px 15px 15px 15px;
		p {
			font-size: 1.2rem;
			margin: 0 0 5px 0;
			> span {
				color: var(--bh_color_gray_700);
			}
		}
	}
	&.style_white {
		color: var(--bh_color_gray_200);
		background-color: var(--bh_color_gray_900);
		border-top: 0;
		.footer_menu > ul > li > a {
			color: var(--bh_color_gray_300);
			&:hover {
				color: var(--bh_color_white);
			}
			&::after {
				color: var(--bh_color_gray_300);
			}
		}
		.footer_logo {
			border-color: var(--bh_color_gray_600);
		}
		.copyright p > span {
			color: var(--bh_color_white);
		}
	}
}
/* -Footer */

/* Quick Icon */
.bh #quick_icon {
	position: fixed;
	right: 25px;
	bottom: 30px;
	z-index: 99;
	.balloon {
		position: relative;
		max-width: 310px;
		color: #fff;
		background: rgba(136, 136, 136, 0.85);
		border-radius: 10px;
		padding: 20px;
		margin-bottom: 20px;
		&:after {
			content: "";
			position: absolute;
			right: 20px;
			bottom: -10px;
			border-top: 10px solid rgba(136, 136, 136, 0.85);
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 0px solid transparent;
		}
	}
	a {
		float: right;
		img {
			transition: all ease 0.3s;
		}
		i {
			display: inline-block;
			font-size: 35px;
			line-height: 1;
			transition: all ease 0.3s;
		}
		&:hover {
			img:not(.img_hover) {
				-webkit-transform: scale(0.8);
				-ms-transform: scale(0.8);
				transform: scale(0.8);
			}
			i {
				-webkit-transform: scale(0.8);
				-ms-transform: scale(0.8);
				transform: scale(0.8);
			}
		}
		&.has_hover {
			img {
				&.img_hover {
					display: none;
				}
			}
			&:hover {
				img {
					display: none;
					&.img_hover {
						display: inline-block;
					}
				}
			}
		}
	}
}
/* -Quick Icon */

/* Quick Menu */
.bh #quick_menu {
	position: sticky;
	top: auto;
	right: 0;
	bottom: 0;
	z-index: 99;
	display: flex;
	width: fit-content;
	justify-content: flex-end;
	margin-left: auto;
	.quick_menu_inner {
		position: absolute;
		bottom: 100%;
		padding-right: 50px;
		padding-bottom: 50px;
	}
	ul {
		padding: 0;
		> li {
			background-color: var(--bh_color_bg_main);
			border-radius: 5px;
			overflow: hidden;
			box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.07), 0 0 8px rgba(0, 0, 0, 0.03);
			~ li {
				margin-top: 10px;
			}
			> a {
				display: flex;
				width: 80px;
				height: 80px;
				align-items: center;
				flex-direction: column;
				justify-content: center;
				> {
					img {
						transition: all ease 0.3s;
					}
					i {
						color: var(--bh_color_main);
						font-size: 2.4rem;
						line-height: 1;
						transition: all ease 0.3s;
					}
					span {
						display: block;
						color: var(--bh_color_gray_900);
						color: var(--bh_color_gray_800);
						font-size: 1.6rem;
						line-height: 1.5;
						font-weight: 500;
						text-align: center;
						margin-top: 5px;
					}
				}
				&:hover {
					> {
						img:not(.img_hover) {
							-webkit-transform: scale(0.8);
							-ms-transform: scale(0.8);
							transform: scale(0.8);
						}
						i {
							-webkit-transform: scale(0.8);
							-ms-transform: scale(0.8);
							transform: scale(0.8);
						}
					}
				}
			}
			&.has_hover {
				> a {
					> {
						img {
							&.img_hover {
								display: none;
							}
						}
					}
					&:hover {
						> {
							img {
								display: none;
								&.img_hover {
									display: block;
								}
							}
						}
					}
				}
			}
		}
	}
	.scrollTop {
		all: unset;
		display: block;
		height: fit-content;
		border-radius: 5px;
		margin-top: 10px;
		-webkit-transition: all 0.2s;
		-ms-transition: all 0.2s;
		transition: all 0.2s;
		overflow: hidden;
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.07), 0 0 8px rgba(0, 0, 0, 0.03);
		&.init {
			opacity: 0;
			-webkit-transition: none;
			-ms-transition: none;
			transition: none;
		}
		> a {
			display: flex;
			width: 80px;
			height: 80px;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			background-color: var(--bh_color_main);
			> {
				img {
					transition: all ease 0.3s;
				}
				i {
					color: #ffffff;
					font-size: 2.4rem;
					line-height: 1;
					transition: all ease 0.3s;
				}
				span {
					display: block;
					color: #ffffff;
					font-size: 1.4rem;
					font-weight: 700;
					text-align: center;
					margin-top: 5px;
				}
			}
		}
	}
}
@media (max-width: 1300px) {
	.bh #quick_menu {
		.quick_menu_inner {
			padding-right: 15px;
			padding-bottom: 20px;
		}
		ul {
			> li {
				~ li {
					margin-top: 10px;
				}
				> a {
					width: 55px;
					height: 55px;
					> {
						i {
							font-size: 18px;
						}
						span {
							font-size: 11px;
							margin-top: 3px;
						}
					}
				}
			}
		}
		.scrollTop {
			> a {
				width: 55px;
				height: 55px;
				> {
					i {
						font-size: 18px;
					}
					span {
						font-size: 11px;
						margin-top: 3px;
					}
				}
			}
		}
	}
}
/* -Quick Menu */

/* M Quick Menu */
.bh #m_quick_menu {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 99;
	ul {
		width: 100%;
		background-color: var(--bh_color_bg_main);
		border: 1px solid var(--bh_color_gray_300);
		border-right: 0;
		padding: 0;
		margin: 0;
		list-style: none;
		> li {
			float: left;
			width: 20%;
			background-color: var(--bh_color_bg_main);
			padding: 5px 0;
			~ li {
				border-left: 0;
			}
			> a {
				display: inline-block;
				width: 100%;
				height: 100%;
				text-align: center;
				align-items: center;
				flex-direction: column;
				justify-content: center;
				&:hover > img {
					-ms-transform: scale(0.8);
					-webkit-transform: scale(0.8);
					transform: scale(0.8);
				}
				> {
					img {
						transition: all ease 0.3s;
					}
					i {
						display: block;
						font-size: 25px;
						text-align: center;
					}
				}
				&.active {
					> i, > span {
						color: var(--bh_color_main);
					}
				}
				> span {
					display: block;
					color: var(--bh_color_gray_700);
					font-size: 13px;
					line-height: 16px;
					text-align: center;
					margin-top: 5px;
				}
			}
		}
	}
}
@include media-max(lg) {
	.bh #m_quick_menu {
		display: block;
	}
}
/* -M Quick Menu */

/* bottom_banner */
.bh .bottom_banner {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 20px 0;
	background: rgba(0,0,0,0.8);
	z-index: 99;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
/* -bottom_banner */

/* scrollTop */
.bh .scrollTop {
	position: fixed;
	right: 10px;
	bottom: 20px;
	width: 42px;
	height: 42px;
	filter: alpha(opacity=70);
	opacity: 0.7;
	background-color: #888;
	background-image: url('img/scrollTop.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 3px;
	z-index: 99;
}
/* layout_admin_btn */
.layout_admin_btn {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
	background-color: rgba(221, 221, 221, 0.5);
	padding: 9px 7px;
	cursor: pointer;
	> span {
		display: block;
		color: var(--bh_color_gray_700);
		font-size: 20px;
		line-height: 1;
	}
}
/* content_admin_btn */
.content_admin_btn {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9999;
	background-color: rgba(221, 221, 221, 0.5);
	padding: 9px 7px;
	cursor: pointer;
	> span {
		display: block;
		color: var(--bh_color_gray_700);
		font-size: 14px;
		line-height: 1;
	}
}

/* bh_tab */
.bh_tab_li {
	display: none;
	&.on {
		display: block;
	}
}
/* Toggle */
.bh_toggle {
	cursor: pointer;
	&.arrow::after {
		color: var(--bh_color_gray_800);
		content: "\e619";
		display: inline-block;
		font-family: xeicon;
		speak: none;
		font-style: normal;
		font-weight: 400;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		vertical-align: middle;
		margin-top: -2px;
		margin-left: 5px;
	}
}
.active .bh_toggle.arrow::after {
	content: "\e60e";
}
/* Modal */
.bh_modal_toggle {
	cursor: pointer;
}
.bh_modal {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.2s, visibility 0.2s;
	transition: opacity 0.2s, visibility 0.2s;
	text-align: left;
	&.on {
		visibility: visible;
		opacity: 1;
		.bh_modal_content {
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	}
	.bh_modal_content {
		display: block;
		position: relative;
		width: 100%;
		max-width: 400px;
		height: auto;
		max-height: 100vh;
		margin: 15px;
		z-index: 0;
		background-color: var(--bh_color_bg_sub);
		border-radius: 3px;
		-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
		-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
		transition: -webkit-transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
		transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
		transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), -webkit-transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
		-webkit-transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
		-moz-transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
		-o-transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
		.bh_modal_header {
			position: relative;
			height: auto;
			padding: 15px 20px;
			border-bottom: 1px solid var(--bh_color_gray_300);
			.bh_title {
				color: var(--bh_color_text);
				font-size: 21px;
				line-height: 1;
				font-weight: 600;
				letter-spacing: -1px;
				margin: 0;
			}
			.bh_modal_close {
				display: -ms-flexbox;
				display: -webkit-box;
				display: flex;
				-webkit-box-flex: 1;
				-ms-flex-positive: 1;
				flex-grow: 1;
				-ms-flex-pack: center;
				-webkit-box-pack: center;
				justify-content: center;
				-ms-flex-align: center;
				-webkit-box-align: center;
				align-items: center;
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				padding: 12px 20px;
				color: var(--bh_color_gray_700);
				font-size: 24px;
				line-height: 1;
				text-decoration: none;
				cursor: pointer;
				-webkit-transition: all 0.3s;
				transition: all 0.3s;
				&:hover, &:active {
					color: var(--bh_color_text);
				}
			}
		}
		.bh_modal_body {
			padding: 20px;
			max-height: calc(100vh - 80px);
			overflow-y: auto;
		}
	}
	.bh_modal_dimmed {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -1;
	}
}
@include media-max(lg) {
	.bh_modal .bh_modal_content {
		margin: 0;
		border-radius: 0;
		.bh_modal_body {
			padding: 15px;
		}
	}
}
/* -Modal */

/* layer */
.bh_layer_toggle {
	cursor: pointer;
}
.bh_layer {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--bh_color_bg_sub);
	z-index: 1001;
	overflow-x: hidden;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
	&.on {
		visibility: visible;
		opacity: 1;
	}
	&.bh_layer_right {
		left: auto;
		right: -100%;
		.bh_layer_header {
			right: -100%;
		}
		&.on {
			right: 0;
			.bh_layer_header {
				right: 0;
			}
		}
	}
	&.bh_layer_left {
		right: auto;
		left: -100%;
		.bh_layer_header {
			left: -100%;
		}
		&.on {
			left: 0;
			.bh_layer_header {
				left: 0;
			}
		}
	}
	.bh_layer_content {
		position: relative;
		height: 100%;
		background-color: var(--bh_color_bg_sub);
		padding-top: 51px;
		overflow-y: auto;
		z-index: 1;
		.bh_layer_header {
			position: fixed;
			top: 0;
			width: 100%;
			min-height: 51px;
			background-color: var(--bh_color_bg_sub);
			border-bottom: 1px solid var(--bh_color_gray_300);
			padding: 16px 50px 15px 50px;
			margin: 0;
			z-index: 2;
			-webkit-transition: all 0.5s;
			-ms-transition: all 0.5s;
			transition: all 0.5s;
			.bh_title {
				display: block;
				color: #121212;
				font-size: 19px;
				line-height: 1;
				font-weight: 700;
				letter-spacing: -0.8px;
				text-align: center;
			}
			.bh_layer_close {
				position: absolute;
				top: 0;
				right: 0;
				cursor: pointer;
				i {
					font-size: 24px;
					padding: 13px;
				}
			}
		}
	}
	&.bh_layer_right .bh_layer_content .bh_layer_header .bh_layer_close {
		left: 0;
	}
	&.bh_layer_left .bh_layer_content .bh_layer_header .bh_layer_close {
		right: 0;
	}
	.bh_layer_dimmed {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: -1;
	}
	&.on .bh_layer_dimmed {
		display: block;
	}
}
@media (min-width: 320px) {
	.bh_layer {
		&.bh_layer_right,
		&.bh_layer_left {
			width: 320px;
			.bh_layer_content .bh_layer_header {
				width: 320px;
			}
		}
	}
}
@media (min-width: 576px) {
	.bh_layer {
		&.bh_layer_right,
		&.bh_layer_left {
			width: 576px;
			.bh_layer_content .bh_layer_header {
				width: 576px;
			}
		}
	}
}
/* -layer */

/* Page */
.bh .hr-line {
	width: 50px;
	margin: 0 auto;
	margin-bottom: 15px;
	height: 4px;
	background-color: #ddd;
}
.bh .hr-line2 {
	width: 50px;
	margin: 0 auto;
	margin-bottom: 15px;
	height: 2px;
	background-color: #ddd;
}
.bh .bh_line {
	display: block;
	position: relative;
	top: 1px;
	width: 100%;
	height: 1px;
	border-top: 1px solid #ebebeb;
}
@include media-max(lg) {
	#float_banner_left, #float_banner_right, .bh .sub_left, .bh .sub_right {
		display: none !important;
	}
	.bh #content {
		width: 100% !important;
	}
}
#rhymix_alert {
	display: none !important;
}
