@charset "UTF-8";
@import "variables";
/* bh (9haging@gmail.com) */
/* page */
.bh_btn {
	display: inline-block;
	color: #fff;
	text-align: center;
	background-color: #343a40;
	border: 1px solid transparent;
	border-color: #343a40;
	padding: 13px 25px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	transition: all 300ms ease;
	cursor: pointer;
	> i {
		font-size: 0.9em;
		vertical-align: middle;
		margin-top: -4px;
		margin-right: 3px;
	}
	&:hover {
		color: #191919;
		background-color: transparent !important;
		border-color: #191919;
		> i[class*='right'] {
			-ms-animation: slideRight 1s linear infinite;
			-moz-animation: slideRight 1s linear infinite;
			-webkit-animation: slideRight 1s linear infinite;
			animation: slideRight 1s linear infinite;
		}
	}
	&.outline {
		color: #191919;
		background-color: transparent !important;
		border-color: #191919;
		&:hover {
			color: #fff;
			background-color: #343a40 !important;
			border-color: #343a40;
		}
	}
	&.round {
		border-radius: 3px;
	}
	&.round2 {
		border-radius: 100px;
	}
	&.style2 {
		display: inline-block;
		color: #fff;
		background-color: #66c18c;
		border: 0.2rem solid #66c18c;
		border-radius: 5px;
		padding: 1rem 4rem 1rem 4rem;
		-webkit-transition: all 200ms;
		-moz-transition: all 200ms;
		transition: all 200ms;
		cursor: pointer;
		&:hover {
			color: #66c18c;
			background-color: transparent;
		}
	}
}
@-webkit-keyframes slideRight {
	0% {margin-left:0;margin-right:0;opacity:1;}
	40% {margin-left:5px;margin-right:-5px;opacity:1;}
	80% {margin-left:10px;margin-right:-10px;opacity:0.5;}
	100% {margin-left:10px;margin-right:-10px;opacity:0;}
}
@-moz-keyframes slideRight {
	0% {margin-left:0;margin-right:0;opacity:1;}
	40% {margin-left:5px;margin-right:-5px;opacity:1;}
	80% {margin-left:10px;margin-right:-10px;opacity:0.5;}
	100% {margin-left:10px;margin-right:-10px;opacity:0;}
}
@-ms-keyframes slideRight {
	from {margin-left:0;margin-right:0;opacity:1;}
	to {margin-left:10px;margin-right:-10px;opacity:0;}
}
@keyframes slideRight {
	0% {margin-left:0;margin-right:0;opacity:1;}
	40% {margin-left:5px;margin-right:-5px;opacity:1;}
	80% {margin-left:10px;margin-right:-10px;opacity:0.5;}
	100% {margin-left:10px;margin-right:-10px;opacity:0;}
}
.bh_btn_effect1 {
	position: relative;
	border: 0;
	&:before {
		content: "";
		background: transparent;
		border-top: 2px solid #191919;
		border-right: 2px solid #191919;
		width: 0;
		height: calc(2px);
		position: absolute;
		top: -2px;
		left: 0px;
		z-index: 1;
		opacity: 0;
		transition: opacity 0.1s, width 0s 0.1s, height 0s 0.1s;
	}
	&:after {
		content: "";
		background: transparent;
		border-bottom: 2px solid #191919;
		border-left: 2px solid #191919;
		width: 0;
		height: 2px;
		position: absolute;
		bottom: 0px;
		right: -2px;
		z-index: 1;
		opacity: 0;
		transition: opacity 0.1s, width 0s 0.1s, height 0s 0.1s;
	}
	&:hover {
		&:before {
			transition: opacity 0.1s, width 0.3s, height 0.2s 0.3s;
			opacity: 1;
			width: calc(100% + 2px);
			height: calc(100%);
		}
		&:after {
			transition: opacity 0.1s 0.5s, width 0.3s 0.5s, height 0.3s 0.8s;
			opacity: 1;
			width: calc(100% + 2px);
			height: calc(100%);
		}
	}
	&.bh_btn_effect1-r {
		&:before {
			transition: opacity 0.1s, width 0s 0.1s, height 0s 0.1s;
			width: calc(100% + 2px);
			height: calc(100%);
			opacity: 1;
		}
		&:after {
			transition: opacity 0.1s, width 0s 0.1s, height 0s 0.1s;
			width: calc(100% + 4px);
			height: calc(100% + 2px);
			opacity: 1;
		}
		&:hover {
			&:before {
				width: 0;
				height: 2px;
				opacity: 0;
				transition: opacity 0.1s 0.9s, height 0.2s 0.5s, width 0.3s 0.7s;
			}
			&:after {
				width: 0;
				height: 2px;
				opacity: 0;
				transition: opacity 0.1s 0.5s, height 0.2s, width 0.3s 0.2s;
			}
		}
	}
}
.bh_btn_style1 {
	display: inline-block;
	padding: 12px 30px;
	border-radius: 5px;
	color: #fff;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	-webkit-background: -webkit-linear-gradient(35deg, #ec77ab, #7873f5, #7873f5, #ec77ab);
	-moz-background: linear-gradient(55deg, #ec77ab, #7873f5, #7873f5, #ec77ab);
	background: -o-linear-gradient(35deg, #ec77ab, #7873f5, #7873f5, #ec77ab);
	background: linear-gradient(55deg, #ec77ab, #7873f5, #7873f5, #ec77ab);
	background-size: 400% 100%;
	background-image: -webkit-linear-gradient(to right, #ff4e50, #f9d423, #f9d423, #ff4e50);
	background-image: -moz-linear-gradient(to right, #ff4e50, #f9d423, #f9d423, #ff4e50);
	background-image: -webkit-gradient(linear, left top, right top, from(#ff4e50), color-stop(#f9d423), color-stop(#f9d423), to(#ff4e50));
	background-image: -webkit-linear-gradient(left, #ff4e50, #f9d423, #f9d423, #ff4e50);
	background-image: -o-linear-gradient(left, #ff4e50, #f9d423, #f9d423, #ff4e50);
	background-image: linear-gradient(to right, #ff4e50, #f9d423, #f9d423, #ff4e50);
	&:hover {
		color: #fff;
		background-position: 100% 0;
	}
}
.bh_btn_style2 {
	display: inline-block;
	padding: 12px 30px;
	padding: 1.2rem 3rem;
	border-radius: 5px;
	color: #fff;
	text-transform: capitalize;
	text-align: center;
	border: 1px solid transparent;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-background-size: 200% auto;
	background-size: 200% auto;
	background-image: -webkit-gradient(linear, left top, right top, from(#5192e1), color-stop(51%, #23ced5), to(#5192e1));
	background-image: -webkit-linear-gradient(left, #5192e1 0%, #23ced5 51%, #5192e1 100%);
	background-image: -moz-linear-gradient(left, #5192e1 0%, #23ced5 51%, #5192e1 100%);
	background-image: -o-linear-gradient(left, #5192e1 0%, #23ced5 51%, #5192e1 100%);
	background-image: linear-gradient(to right, #5192e1 0%, #23ced5 51%, #5192e1 100%);
	&:hover {
		color: #fff;
		background-position: right center;
	}
}

.bh .bh_title_sub {
	font-size: 20px;
	font-weight: 600;
	color: #cc3025;
	border-bottom: 2px solid #cc3025;
	margin-bottom: 40px;
}
.bh .bh_title_sub2 {
	font-size: 18px;
	font-weight: 600;
	color: #cc3025;
}
.bh .bh_title_sub3 {
	font-weight: 600;
	&::before {
		content: "";
		display: inline-block;
		width: 5px;
		height: 28px;
		vertical-align: middle;
		background-color: #cc3025;
		border-radius: 3px;
		margin: -5px 8px 0 0;
	}
}
.bh .bh_title_sub4 {
	position: relative;
	font-weight: 600;
	padding-left: 33px;
	&::before {
		content: "";
		display: inline-block;
		position: absolute;
		top: 1px;
		left: 0;
		width: 15px;
		height: 15px;
		background-color: #cccccc;
	}
	&::after {
		content: "";
		display: inline-block;
		position: absolute;
		top: 9px;
		left: 6px;
		width: 15px;
		height: 15px;
		background-color: #1c579a;
	}
}
.bh .bh_title_deco {
	&::before {
		content: " ";
		display: block;
		position: absolute;
		width: 80px;
		border-bottom: 1px solid;
		left: 50%;
		margin-left: -100px;
		bottom: -10px;
	}
	&::after {
		content: " ";
		display: block;
		position: absolute;
		width: 80px;
		border-bottom: 1px solid;
		left: 50%;
		margin-left: -100px;
		bottom: -10px;
		margin-left: 20px;
	}
	i.deco {
		display: block;
		position: absolute;
		left: 50%;
		font-size: 22px;
		margin: 0 0 0 -11px;
	}
}
.bh .bh_title_sub5 {
	font-size: 35px;
	font-weight: 600;
	border-bottom: 1px solid #dedada;
	padding: 0 0 20px 0;
	> span {
		display: inline-block;
		color: #bdbdbd;
		font-size: 14px;
		font-weight: 300;
		vertical-align: bottom;
		margin-left: 10px;
	}
}
.bh .bh_title_sub6 {
	font-size: 48px;
	font-weight: 600;
	letter-spacing: -2.5px;
	text-align: center;
	span {
		position: relative;
		&::before {
			content: " ";
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			width: 86px;
			height: 17px;
			margin-top: -6px;
			margin-left: -150px;
			background-image: url('../img/p/title_sub_dot.png');
			background-repeat: no-repeat;
		}
		&::after {
			content: " ";
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			width: 86px;
			height: 17px;
			margin-top: -6px;
			margin-left: -150px;
			background-image: url('../img/p/title_sub_dot.png');
			background-repeat: no-repeat;
			right: -150px;
			left: unset;
			margin-left: 0;
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}
}
.bh .bh_title_sub7 {
	&::before, &::after {
		content: '';
		position: absolute;
		z-index: -1;
		background-color: #f6f6f6;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	&::before {
		top: -53px;
		left: -60px;
		width: 48px;
		height: 48px;
	}
	&::after {
		top: -6px;
		left: -11px;
		width: 32px;
		height: 32px;
	}
}
.bh .bh_title_sub8 {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 50px;
		height: 3px;
		background-color: #333333;
		-webkit-transition: left 0.7s;
		-o-transition: left 0.7s;
		transition: left 0.7s;
		z-index: 1;
	}
	&::after {
		content: "";
		position: absolute;
		bottom: 1px;
		left: 0;
		width: 150px;
		height: 1px;
		background-color: #ddd;
	}
	&:hover::before {
		left: 100px;
	}
	&.center {
		&::before, &::after {
			left: 50%;
			-webkit-transition: width 0.7s;
			-o-transition: width 0.7s;
			transition: width 0.7s;
			-webkit-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			transform: translateX(-50%);
		}
		&:hover::before {
			width: 150px;
		}
	}
}

.bh .bh_title_deco_line {
	position: relative;
	height: 1px;
	background-color: #ebebeb;
	margin-top: 15px;
	&::after {
		content: "";
		position: absolute;
		top: -1px;
		right: 0;
		bottom: 0;
		left: 0;
		width: 80px;
		height: 3px;
		background-color: #3797dd;
		z-index: 1;
	}
	&.center::after {
		right: auto;
		bottom: auto;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}
.bh .bh_title_deco_dot {
	position: relative;
	display: inline-block;
	line-height: 1;
	&::after {
		content: '';
		display: inline-block;
		position: absolute;
		right: -10px;
		bottom: 1px;
		width: 8px;
		height: 8px;
		background-color: var(--bh_color_main);
		border-radius: 50%;
		z-index: 1;
	}
}

.bh_label {
	display: inline-block;
	color: #fff;
	line-height: 18px;
	background-color: #3c332c;
	padding: 3px 9px 3px 9px;
	margin: 2px 1px;
	&.color1 {
		background-color: #7cc576;
	}
	&.color2 {
		background-color: #f63440;
	}
	&.color3 {
		background-color: #3F51B5;
	}
	&.color4 {
		color: #3F51B5;
		border: 1px solid #3F51B5;
	}
}
@include media-max(lg) {
	.bh_label {
		padding: 0 7px 0 7px!important;
		/*margin: 0!important;*/
		/*font-size: 11px!important;*/
		/*line-height: 11px!important;*/
	}
}

.bh .bh_line2 {
	position: relative;
	border-top: 2px solid #eee;
	&::before, &::after {
		position: absolute;
		content: '';
		top: -5px;
		left: 0;
		width: 8px;
		height: 8px;
		background-color: #ddd;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
	}
	&::after {
		left: auto;
		right: 0
	}
	.center_circle {
		position: absolute;
		content: '';
		top: -5px;
		left: 50%;
		width: 8px;
		height: 8px;
		background-color: #ddd;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}

.bh_bg_box {
	background-color: var(--bh_color_gray_50);
	border: 1px solid var(--bh_color_gray_300);
	padding: 40px 20px;
	padding: 4rem 2rem;
	&.round {
		border-radius: 5px;
	}
}
.bh_bg_box2 {
	border: 1px solid var(--bh_color_gray_300);
	padding: 18px 20px;
	padding: 1.8rem 2rem;
}
.bh_bg_box3 {
	background-color: var(--bh_color_gray_100);
	padding: 18px 20px;
	padding: 1.8rem 2rem;
}
.bh_bg_box4 {
	border: 1px solid var(--bh_color_gray_300);
	border-radius: 0;
	.bh_title {
		color: #222222;
		text-align: center;
		background-color: var(--bh_color_gray_300);
		border-radius: 0;
		padding: 12px 5px;
	}
	.bh_content {
		background-color: var(--bh_color_bg_main);
		border-radius: 0;
		padding: 20px;
	}
}

.bh_bg_wrap {
	border: 1px solid #ccc;
	border-radius: 10px;
	.bh_title {
		color: #fff;
		text-align: center;
		background-color: #333;
		border-radius: 10px 10px 0 0;
		padding: 10px 5px;
	}
	.bh_content {
		background-color: #fff;
		border-radius: 10px;
		padding: 10px 15px;
	}
}
.bh_bg_wrap2 {
	border: 1px solid #dedede;
	border-radius: 0;
	.bh_title {
		color: #222222;
		text-align: center;
		background-color: #eeeeee;
		border-radius: 0;
		padding: 12px 5px;
	}
	.bh_content {
		background-color: #fff;
		border-radius: 0;
		padding: 20px;
	}
}

.bh_tbl {
	width: 100%;
	margin-top: 0;
	border-top: 1px solid #e0e0e0;
	font-size: 15px !important;
	font-weight: normal;
	color: #000;
	border-spacing: 0;
	caption {
		display: none;
	}
	th, td {
		background: #fff;
		padding: 1em 1rem;
		border-bottom: 1px solid #e0e0e0;
		font-weight: normal;
		text-indent: 0;
	}
	th {
		background: #4d4d4d;
		color: #fff;
		font-weight: bold;
	}
	td .block {
		display: block;
		margin: 0 15px;
	}
	ul li {
		width: 50%;
		float: left;
	}
}
.col-gray {
	background-color: #f5f5f5;
}

.bh_tbl2 {
	width: 100%;
	margin-top: 0;
	border-top: 2px solid #382517;
	font-size: 15px !important;
	font-weight: normal;
	color: #000;
	border-collapse: collapse;
	caption {
		display: none;
	}
	th, td {
		/*background: #fff;*/
		padding: 0.9em 1rem;
		border: 1px solid #ddd;
		border-top: 0;
		font-weight: 300;
		text-indent: 0;
	}
	th {
		background: #fafafa;
		color: #333;
		font-weight: bold;
	}
	td .block {
		display: block;
		margin: 0 15px;
	}
	ul li {
		width: 50%;
		float: left;
	}
	td.select {
		color: #3F51B5;
		background-color: #f4f6ff;
	}
	th.select {
		color: #fff;
		background-color: #3F51B5;
		background-color: #f4f6ff;
	}
}
@include media-max(lg) {
	.bh_tbl2 {
		font-size: 13px !important;
	}
}
.bh_tbl3 {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	border-spacing: 0;
	caption {
		display: none;
	}
	tbody tr:hover {
		background-color: #f9f9f9;
	}
	th, td {
		font-family: '돋음', sans-serif;
		font-weight: normal;
	}
	th {
		color: #888;
		font-size: 11px;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		padding: 10px 5px;
	}
	td {
		color: #666;
		font-size: 12px;
		text-align: center;
		border-bottom: 1px solid #ddd;
		padding: 10px 5px;
		&:last-child {
			border-bottom-color: #ccc;
		}
		&.thumbnail-td {
			padding-left: 30px;
			padding-right: 30px;
		}
		a {
			color: #666;
		}
		.block {
			display: block;
			margin-bottom: 4px;
		}
	}
	th.fixed, td.fixed {
		width: 10%;
		white-space: nowrap;
	}
}
@include media-max(lg) {
	.bh_tbl_scroll {
		position: relative;
		width: 1px;
		min-width: 100%;
		background: url('../img/p/tbl_hand.gif') no-repeat right 0;
		-webkit-overflow-scrolling: touch;
		padding-top: 30px;
		margin-top: 1rem;
		overflow-x: scroll;
		overflow-y: hidden;
		> table {
			width: 860px;
			margin-top: 1rem!important;
			margin-bottom: 0;
		}
	}
}

/* bh_write */
.bh_write {
	.row_group ~ .row_group {
		margin-top: 35px;
	}
	.title_wrap {
		.title {
			float: left;
			position: relative;
			color: #1d1d1d;
			font-size: 20px;
			font-weight: 500;
			padding-left: 12px;
			margin-bottom: 15px;
			&:after {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				width: 3px;
				height: 3px;
				margin-top: -1.5px;
				background-color: #666;
			}
		}
		.desc {
			float: right;
			display: inline-block;
			color: var(--bh_color_gray_600);
			font-size: 14px;
			font-weight: 300;
			margin-top: 5px;
			.required {
				color: #d43301;
			}
		}
	}
}
.bh_agreement {
	.title_wrap .title {
		.required {
			color: #d43301;
			font-size: 14px;
			font-weight: 300;
			padding-left: 6px;
		}
		.optional {
			color: #d43301;
			font-size: 14px;
			font-weight: 300;
			padding-left: 6px;
			color: #666;
		}
	}
	.agreement_link {
		float: right;
		display: inline-block;
		color: #23272b;
		font-size: 14px;
		font-weight: 300;
		margin-top: 5px;
		> i {
			font-size: 10px;
			vertical-align: middle;
			margin-top: -2px;
			margin-left: 3px;
		}
	}
	.text {
		height: 150px;
		border: 1px solid #ddd;
		padding: 26px 29px;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.confirm {
		margin-top: 10px;
		padding: 15px 20px;
		background: #f5f5f5;
		input[type="checkbox"] {
			display: inline-block;
			width: 15px;
			height: 15px;
			vertical-align: middle;
			margin-top: -2px;
			cursor: pointer;
		}
		label {
			cursor: pointer;
		}
	}
}
.bh_write_tbl_wrap {
	position: relative;
	/*border-bottom: 1px solid var(--bh_color_gray_300);*/
	margin-top: 0;
	.bh_write_tbl {
		width: 100%;
		border-top: 1px solid var(--bh_color_gray_800);
		> {
			caption {
				display: none;
			}
			colgroup > col {
				display: inline-block;
			}
		}
		th, td {
			font-size: 14px;
			font-weight: 400;
			border-bottom: 1px solid var(--bh_color_gray_300);
			text-align: left;
			word-break: break-all;
			word-wrap: break-word;
		}
		th {
			min-width: 130px;
			color: var(--bh_color_gray_800);
			vertical-align: top;
			background-color: var(--bh_color_gray_50);
			padding: 16px 3px 17px 15px;
			white-space: nowrap;
			.required {
				color: #d43301;
			}
			> em {
				display: none;
			}
		}
		td {
			color: var(--bh_color_gray_600);
			font-weight: 300;
			padding: 13px 3px 13px 20px;
			> ul > li {
				display: inline-block;
			}
			*:not(.style_no, .xefu-list-images, .xefu-list-files) {
				> ul > li {
					display: inline-block;
				}
			}
			.krZip {
				label {
					display: inline-block;
					min-width: 70px;
					font-size: 13px;
				}
				.krzip-postcode-wrap {
					margin-bottom: 5px;
					.krzip-delete {
						display: none;
					}
				}
				.krzip-address-wrap {
					margin-bottom: 5px;
					.krzip-jibunAddress,
					.krzip-extraAddress {
						display: none;
					}
				}
			}
			.color-indicator {
				display: none;
			}
			.verifySMS_input_area {
				margin-top: 5px;
			}
			.verifySMS_input_button {
				margin-left: 3px;
			}
			.title_color {
				display: inline-block;
				height: 20px;
				color: var(--bh_color_gray_900);
				line-height: 19px;
				vertical-align: middle;
				padding-left: 5px;
				margin-right: 14px;
				cursor: pointer;
			}
			.bh_desc {
				font-size: 13px;
				font-weight: 300;
				padding: 5px 0 0px;
			}
		}
	}
}
@include media-max(lg) {
	.bh_write_tbl_wrap {
		.bh_write_tbl {
			th, td {
				display: block;
				width: 100%;
				font-size: 14px;
				font-weight: 400;
				text-align: left;
				word-break: break-all;
				word-wrap: break-word;
			}
			th {
				min-width: auto;
				vertical-align: middle;
				background-color: transparent;
				border-bottom: 0;
				padding: 15px 3px 0 7px;
			}
			td {
				border-bottom: 1px solid var(--bh_color_gray_300);
				padding: 10px 3px 15px 3px;
				.krZip label {
					display: block;
				}
			}
		}
	}
}
.bh_write_tbl {
	.btn {
		display: inline-block;
		width: auto;
		height: auto !important;
		color: var(--bh_color_white);
		font-size: inherit;
		font-weight: 400;
		text-align: center;
		vertical-align: top;
		background: none;
		background-color: var(--bh_color_gray_600);
		border: 1px solid var(--bh_color_gray_600);
		border-radius: 0px;
		padding: 0 10px !important;
		cursor: pointer;
		text-shadow: none;
		box-shadow: none;
		box-sizing: border-box;
	}
	input.btn, button.btn {
		width: 44px;
		height: 34px !important;
		font-size: 13px;
		font-weight: 300;
		padding: 0 3px !important;
	}
	input.btn:focus, button.btn:focus {
		outline: none;
	}
	input:not([type=hidden]) + input, button:not([type=hidden]) + input, .input_with_btn + * {
		margin-left: 3px;
	}
	input {
		&[type="text"], &[type="number"], &[type="password"], &[type="email"], &[type="date"], &[type="tel"], &[type="url"] {
			display: inline-block;
			height: 34px;
			color: var(--bh_color_gray_800);
			color: var(--bh_color_gray_900);
			background-color: var(--bh_color_gray_100);
			background-color: var(--bh_color_gray_50);
			border: 1px solid var(--bh_color_gray_300);
			border: 1px solid var(--bh_color_gray_200);
			border-radius: 0px;
			padding: 0 9px;
			box-sizing: border-box;
			outline: none;
			transition: box-shadow 0.2s ease,border-color 0.2s ease;
			-webkit-transition: box-shadow 0.2s ease,border-color 0.2s ease;
			&::placeholder {
				color: var(--bh_color_gray_400);
			}
		}
		&[type="text"]:hover, &[type="number"]:hover, &[type="password"]:hover, &[type="email"]:hover, &[type="date"]:hover, &[type="tel"]:hover, &[type="url"]:hover {
			background-color: var(--bh_color_white);
			border-color: var(--bh_color_gray_300);
			outline: none;
			box-shadow: 0 1px 5px 0 rgba(28, 35, 69, 0.12);
			transition: box-shadow 0.2s ease,border-color 0.2s ease;
			-webkit-transition: box-shadow 0.2s ease,border-color 0.2s ease;
		}
		&[type="text"]:focus, &[type="number"]:focus, &[type="password"]:focus, &[type="email"]:focus, &[type="date"]:focus, &[type="tel"]:focus, &[type="url"]:focus {
			background-color: var(--bh_color_white);
			border-color: var(--bh_color_gray_900);
			outline: none;
			box-shadow: 0 1px 5px 0 rgba(28, 35, 69, 0.12);
			transition: box-shadow 0.2s ease,border-color 0.2s ease;
			-webkit-transition: box-shadow 0.2s ease,border-color 0.2s ease;
		}
	}
	textarea {
		display: block;
		width: 100%;
		color: var(--bh_color_gray_900);
		background-color: var(--bh_color_gray_50);
		border: 1px solid var(--bh_color_gray_200);
		border-radius: 0px;
		padding: 8px 9px;
		box-sizing: border-box;
		outline: none;
		transition: box-shadow 0.2s ease,border-color 0.2s ease;
		-webkit-transition: box-shadow 0.2s ease,border-color 0.2s ease;
		&::placeholder {
			color: var(--bh_color_gray_400);
		}
		&:hover {
			background-color: var(--bh_color_white);
			border-color: var(--bh_color_gray_300);
			outline: none;
			box-shadow: 0 1px 5px 0 rgba(28, 35, 69, 0.12);
			transition: box-shadow 0.2s ease,border-color 0.2s ease;
			-webkit-transition: box-shadow 0.2s ease,border-color 0.2s ease;
		}
		&:focus {
			background-color: var(--bh_color_white);
			border-color: var(--bh_color_gray_900);
			outline: none;
			box-shadow: 0 1px 5px 0 rgba(28, 35, 69, 0.12);
			transition: box-shadow 0.2s ease,border-color 0.2s ease;
			-webkit-transition: box-shadow 0.2s ease,border-color 0.2s ease;
		}
	}
	select {
		display: inline-block;
		width: auto;
		min-width: 230px;
		height: 34px;
		padding: 0 0 0 9px;
		background-color: var(--bh_color_gray_100);
		border: 1px solid var(--bh_color_gray_300);
		border: 1px solid var(--bh_color_gray_200);
		border-radius: 0px;
		box-sizing: border-box;
		appearance: none;
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 13.172 4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222l4.95 4.95z' fill='%23757575'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-position: calc(100% - 10px) center;
		cursor: pointer;
		&:disabled {
			color: var(--bh_color_gray_600);
			background-color: var(--bh_color_gray_100);
			background-color: var(--bh_color_gray_200);
			opacity: 1;
			-webkit-text-fill-color: none;
		}
		&:has(option[value=""]:checked),
		> option[value=""] {
			color: var(--bh_color_gray_400);
		}
		&:has(option[value=""]:checked) > option:not(option[value=""]) {
			color: var(--bh_color_text);
		}
		&:focus {
			outline: none;
		}
	}
	input {
		&.input_wide {
			width: 100%;
		}
		&:not([type=checkbox]):not([type=radio]):disabled,
		&:not([type=checkbox]):not([type=radio]):not([type=button]):not([type=submit]):not([type=file]):read-only {
			color: var(--bh_color_gray_600);
			background-color: var(--bh_color_gray_100);
			background-color: var(--bh_color_gray_200);
			opacity: 1;
			-webkit-text-fill-color: none;
		}
		&[type="radio"], &[type="checkbox"] {
			display: inline-block;
			width: 15px;
			height: 15px;
			vertical-align: middle;
			margin-top: -2px;
			cursor: pointer;
		}
		&[type="radio"] + label, &[type="checkbox"] + label {
			display: inline-block;
			height: 20px;
			color: var(--bh_color_gray_900);
			vertical-align: middle;
			padding-left: 5px;
			margin-right: 14px;
			cursor: pointer;
		}
		&[type="file"] {
			display: inline-block;
			height: 34px !important;
			color: var(--bh_color_gray_900);
			font-size: 13px;
			font-weight: 300;
			text-align: center;
			vertical-align: top;
			background: none;
			background-color: var(--bh_color_gray_50);
			border: 1px solid var(--bh_color_gray_200);
			border-radius: 0;
			padding: 0 9px !important;
			cursor: pointer;
			text-shadow: none;
			box-shadow: none;
			box-sizing: border-box;
		}
	}
}
@include media-max(lg) {
	.bh_write_tbl {
		input:not([type=hidden]) + input, button:not([type=hidden]) + input, .input_with_btn + * {
			margin-left: 0;
		}
		input {
			&[type="text"], &[type="password"], &[type="email"], &[type="url"] {
				width: 100%;
			}
			&[type="number"] {
				width: auto;
			}
			&[type="text"] {
				&.date, &.krzip-postcode {
					width: calc(100% - 48px);
				}
			}
			&[type="date"], &[type="tel"], &[type="file"], &.input_with_btn {
				width: calc(100% - 48px);
			}
			&[type="text"].tel, &[type="tel"].tel {
				width: calc(33.333% - 3px);
			}
		}
		select ~ input {
			&[type="text"].tel, &[type="tel"].tel {
				width: calc(33.333% - 90px);
			}
		}
		textarea {
			width: 100%;
		}
	}
}
.bh_write_tbl_wrap {
	.bh_write_tbl {
		&.list_style {
			th, td {
				display: block;
				width: 100%;
				font-size: 12px;
				font-weight: 400;
				background: none;
				text-align: left;
				word-break: break-all;
				word-wrap: break-word;
			}
			th {
				min-width: auto;
				font-size: 15px;
				font-size: 1.5rem;
				font-weight: 600;
				vertical-align: middle;
				border-bottom: 0;
				padding-top: 10px;
				padding-bottom: 0;
				padding-right: 15px;
				padding-left: 15px;
			}
			td {
				border-bottom: 1px solid var(--bh_color_gray_300);
				padding-bottom: 10px;
				padding-right: 15px;
				padding-left: 15px;
			}
			input:not([type=hidden]) + input, button:not([type=hidden]) + input, .input_with_btn + * {
				margin-left: 0;
			}
			input {
				&[type="text"], &[type="password"], &[type="email"], &[type="url"] {
					width: 100%;
				}
				&[type="number"] {
					width: auto;
				}
				&[type="text"] {
					&.date, &.krzip-postcode {
						width: calc(100% - 48px);
					}
				}
				&[type="date"], &[type="tel"], &[type="file"], &.input_with_btn {
					width: calc(100% - 48px);
				}
				&[type="text"].tel, &[type="tel"].tel {
					width: calc(33.333% - 3px);
				}
			}
			select ~ input {
				&[type="text"].tel, &[type="tel"].tel {
					width: calc(33.333% - 90px);
				}
			}
			textarea {
				width: 100%;
			}
		}
		&.check_style_ {
			&icon {
				:not(.style_no, .xefu-list-images, .xefu-list-files) {
					> ul {
						margin: -5px 0;
						margin-right: -10px;
						li {
							float: left;
							margin: 5px 0;
							margin-right: 10px;
							input {
								&[type="checkbox"],
								&[type="radio"] {
									position: absolute;
									left: -9999px;
									& + label,
									& + span {
										position: relative;
										display: inline-block;
										color: var(--bh_color_gray_600);
										line-height: 19px;
										padding-right: 6px;
										padding-left: 28px;
										cursor: pointer;
										&:before {
											content: '';
											position: absolute;
											left: 0;
											top: 0;
											width: 19px;
											height: 19px;
											background-color: var(--bh_color_white);
											border: 1px solid var(--bh_color_gray_300);;
										}
										&:after {
											content: '';
											position: absolute;
											top: 4px;
											left: 4px;
											width: 11px;
											height: 11px;
											background-color: var(--bh_color_main);
											-webkit-transition: all 0.2s ease;
											transition: all 0.2s ease;
											opacity: 0;
											-webkit-transform: scale(0);
											transform: scale(0);
										}
									}
								}
								&[type="radio"] {
									& + label,
									& + span {
										&:before,
										&:after {
											border-radius: 30px;
										}
									}
								}
							}
							input:checked {
								&[type="checkbox"],
								&[type="radio"] {
									& + label,
									& + span {
										&:before,
										&:after {
											opacity: 1;
											-webkit-transform: scale(1);
											transform: scale(1);
										}
									}
								}
							}
						}
					}
				}
			}
			&box {
				:not(.style_no, .xefu-list-images, .xefu-list-files) {
					> ul {
						margin: -5px 0;
						margin-right: -10px;
						li {
							float: left;
							margin: 5px 0;
							margin-right: 10px;
							input {
								&[type="checkbox"],
								&[type="radio"] {
									display: none;
									& + label,
									& + span {
										position: relative;
										display: block;
										color: var(--bh_color_gray_600);
										font-weight: 400;
										line-height: 1.4;
										text-align: center;
										white-space: nowrap;
										background-color: var(--bh_color_gray_100);
										background-image: none;
										border: 1px solid transparent;
										border-color: var(--bh_color_gray_300);
										border-radius: 0px;
										-webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.015);
										box-shadow: 0 2px 0 rgba(0,0,0,0.015);
										cursor: pointer;
										-webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
										transition: all .3s cubic-bezier(.645, .045, .355, 1);
										-webkit-user-select: none;
										-moz-user-select: none;
										-ms-user-select: none;
										user-select: none;
										-ms-touch-action: manipulation;
										touch-action: manipulation;
										box-sizing: content-box;
										padding: 6px 15px;
										margin: 0;
										&:hover {
											border-color: var(--bh_color_main);
											color: var(--bh_color_main);
											cursor: pointer;
										}
									}
								}
								&[type="radio"] {
									& + label,
									& + span {
										border-radius: 30px;
									}
								}
							}
							input:checked {
								&[type="checkbox"],
								&[type="radio"] {
									display: none;
									& + label,
									& + span {
										background-color: var(--bh_color_main);
										border-color: var(--bh_color_main);
										color: #ffffff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.write_editor {
	width: 1px;
	min-width: 100%;
	div[id^="ckeditor_"], div[id^="ckeditor_"] *, div[id^="ckeditor_"] *:before, div[id^="ckeditor_"] *:after {
		-webkit-box-sizing: initial!important;
		-moz-box-sizing: initial!important;
		box-sizing: initial!important;
	}
	&.editor_file_only {
		div[id^="ckeditor_"], div[id^="simpleeditor_instance_"], .editor_autosaved_message {
			display: none !important;
		}
	}
	div[id^="simpleeditor_"] {
		font-size: 16px;
	}
}
.bh_write_btn_wrap {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}
.bh_write_btn {
	display: inline-block;
	width: 150px;
	color: #fff;
	text-align: center;
	background-color: #343a40;
	border: 1px solid transparent;
	border-color: #343a40;
	padding: 11px 22px;
	cursor: pointer;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	~ .bh_write_btn {
		margin-left: 10px;
	}
	&.outline {
		color: #343a40;
		background-color: transparent;
		border-color: #7d8288;
	}
	&.gray {
		color: #343a40;
		background-color: #f5f5f5;
		border-color: #ddd;
	}
	&.round {
		border-radius: 3px;
	}
	&.hover:hover {
		color: #fff;
		background-color: #23272b;
		border-color: #1d2124;
	}
	> i {
		font-size: 12px;
		vertical-align: middle;
		margin-top: -4px;
	}
}
@include media-max(lg) {
	.bh_write_btn {
		width: calc(50% - 10px);
	}
}
/* -bh_write */

/* bh_info */
.bh_info_wrap {
	.title_wrap {
		> .title {
			float: left;
			position: relative;
			color: var(--bh_color_black);
			font-size: 20px;
			font-weight: 500;
			padding-left: 12px;
			margin-bottom: 15px;
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				width: 3px;
				height: 3px;
				margin-top: -1.5px;
				background-color: var(--bh_color_gray_700);
			}
		}
		> .desc {
			float: right;
			display: inline-block;
			color: var(--bh_color_gray_600);
			font-size: 14px;
			font-weight: 300;
			margin-top: 5px;
			.required {
				color: #d43301;
			}
		}
	}
	.bh_info_tbl {
		width: 100%;
		margin-top: 0;
		border-right: 1px solid var(--bh_color_gray_300);
		border-top: 1px solid var(--bh_color_gray_800);
		font-size: 15px !important;
		font-weight: normal;
		color: var(--bh_color_black);
		border-collapse: separate;
		border-spacing: 0;
		caption {
			color: var(--bh_color_gray_700);
			text-align: left;
			margin-bottom: 5px;
			.active {
				font-weight: 500;
			}
		}
		th, td {
			/*background: #fff;*/
			padding: 1.4rem 1.5rem;
			border: 1px solid var(--bh_color_gray_300);
			border-right: 0;
			border-top: 0;
			font-weight: 300;
			text-indent: 0;
			white-space: nowrap;
		}
		th {
			background: var(--bh_color_gray_50);
			color: var(--bh_color_gray_900);
			font-weight: 400;
		}
		td {
			&.title {
				width: 100%;
				text-align: left;
				white-space: normal;
				word-break: break-all;
			}
			.block {
				display: block;
				margin: 0 15px;
			}
		}
		ul li {
			width: 50%;
			float: left;
		}
		td.select {
			background-color: var(--bh_color_gray_100);
		}
		th.select {
			background-color: var(--bh_color_gray_100);
		}
		.btn {
			display: inline-block;
			width: auto;
			height: auto !important;
			color: var(--bh_color_white);
			font-size: inherit;
			line-height: 1.4 !important;
			font-weight: 400;
			text-align: center;
			vertical-align: top;
			background: none;
			background-color: var(--bh_color_gray_600);
			border: 1px solid var(--bh_color_gray_600);
			border-radius: 0;
			padding: 0 10px !important;
			cursor: pointer;
			text-shadow: none;
			box-shadow: none;
			box-sizing: border-box;
		}
		input.btn, button.btn {
			width: 44px;
			height: 34px !important;
			font-size: 13px;
			line-height: 31px !important;
			font-weight: 300;
			padding: 0 3px !important;
		}
	}
	.pagination {
		position: relative;
		text-align: center;
		margin: 32px auto;
		> div {
			display: inline-block;
		}
		.direction {
			float: left;
			position: relative;
			width: 40px;
			height: 40px;
			color: var(--bh_color_gray_900);
			font-size: .95em;
			line-height: 38px;
			text-align: center;
			letter-spacing: -2px;
			vertical-align: middle;
			background-color: var(--bh_color_white);
			border-top: solid 1px var(--bh_color_gray_300);
			border-right: solid 1px var(--bh_color_gray_300);
			border-bottom: solid 1px var(--bh_color_gray_300);
			margin-right: 0;
			margin-left: 0;
			&:first-child {
				border-left: solid 1px var(--bh_color_gray_300);
			}
			&:hover {
				color: #000;
				background-color: var(--bh_color_gray_100);
			}
			&.active {
				color: var(--bh_color_white) !important;
				font-weight: 400;
				background: var(--bh_color_gray_800);
				border-color: var(--bh_color_gray_800);
			}
		}
	}
	.m_pagination {
		display: flex;
		position: relative;
		text-align: center;
		justify-content: center;
		align-items: center;
		margin: 32px auto;
		> div {
			display: inline-block;
		}
		.direction {
			display: inline-block;
			position: relative;
			width: 100px;
			height: 40px;
			color: var(--bh_color_gray_900);
			font-size: .95em;
			line-height: 38px;
			text-align: center;
			letter-spacing: 0.5px;
			vertical-align: middle;
			background-color: var(--bh_color_bg_main);
			border-top: solid 1px var(--bh_color_gray_300);
			border-right: solid 1px var(--bh_color_gray_300);
			border-bottom: solid 1px var(--bh_color_gray_300);
			border-radius: 5px;
			margin-right: 0;
			margin-left: 0;
			&:first-child {
				border-left: solid 1px var(--bh_color_gray_300);
			}
			&:hover {
				color: var(--bh_color_black);
				background-color: var(--bh_color_gray_100);
			}
		}
		.page_no_wrap {
			text-align: center;
			margin: 0 15px;
		}
	}
}
@include media-max(lg) {
	.bh_info_wrap {
		.bh_info_tbl {
			font-size: 13px !important;
			th, td {
				white-space: normal;
				word-break: keep-all;
			}
		}
	}
}
/* -bh_info */

/* bh_video_wrap */
.bh_video_wrap {
	text-align: center;
	background-color: var(--bh_color_gray_300);
	/*border: 1px solid var(--bh_color_gray_300);*/
}
.bh_video_wrap {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	iframe, video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/* img_hover */
.bh_hover_style_normal {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0;
	width: 100%;
	color: #ffffff;
	text-align: center;
	font-size: 16px;
	background: #000000;
	* {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: all 0.35s ease;
		transition: all 0.35s ease;
	}
	img {
		opacity: 1;
		max-width: 100%;
		vertical-align: top;
	}
	.bh_hover_content {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
		padding: 30px;
		a {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		> div {
			opacity: 0;
			font-size: 20px;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	}
	&:hover img, &.hover img {
		opacity: 0.3;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}
	&:hover .bh_hover_content > div, &.hover .bh_hover_content > div {
		-webkit-transition-delay: 0.4s;
		transition-delay: 0.4s;
		opacity: 1;
	}
}

/* img_effect */
.bh_hover_effect_x1 {
	position: relative;
	overflow: hidden;
	&::before, &::after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		background: #fff;
		z-index: 1;
		-webkit-transition-duration: 1.3s;
		-o-transition-duration: 1.3s;
		transition-duration: 1.3s;
	}
	&::before {
		top: 0;
		right: 0;
		opacity: 1;
	}
	&::after {
		bottom: 0;
		left: 0;
		opacity: .7;
	}
	&:hover {
		&::before, &::after {
			width: 100%;
			height: 100%;
			opacity: 0;
		}
	}
}

.bh_hover_effect_x2 {
	position: relative;
	display: inline-block;
	width: 100%;
	&::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		margin: auto;
		background-color: rgba(255, 255, 255, 0.1);
		-webkit-transition: all 0.3s ease-out 0s;
		-o-transition: all 0.3s ease-out 0s;
		transition: all 0.3s ease-out 0s;
	}
	&::after {
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		width: 0;
		height: 0;
		background-color: rgba(255, 255, 255, 0.1);
		-webkit-transition: all 0.3s ease-out 0s;
		-o-transition: all 0.3s ease-out 0s;
		transition: all 0.3s ease-out 0s;
	}
	&:hover {
		&::before, &::after {
			width: 100%;
			height: 100%;
		}
	}
}

.bh_hover_effect_line {
	position: relative;
	display: inline-block;
	overflow: hidden;
	img {
		position: relative;
		width: 100%;
		height: 100%;
		display: block;
		backface-visibility: visible;
		opacity: 1;
		filter: alpha(opacity = 100);
		-webkit-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
	&::before, &::after {
		content: "";
		position: absolute;
		z-index: 1;
		opacity: 0;
		filter: alpha(opacity = 0);
		-webkit-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
	&::before {
		top: 10px;
		right: 10px;
		bottom: 10px;
		left: 10px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		-webkit-transform: scale(0, 1);
		-moz-transform: scale(0, 1);
		-ms-transform: scale(0, 1);
		-o-transform: scale(0, 1);
		transform: scale(0, 1);
		-webkit-transform-origin: center;
		-moz-transform-origin: center;
		-ms-transform-origin: center;
		-o-transform-origin: center;
		transform-origin: center;
	}
	&::after {
		top: 10px;
		right: 10px;
		bottom: 10px;
		left: 10px;
		border-right: 1px solid #fff;
		border-left: 1px solid #fff;
		-webkit-transform: scale(1, 0);
		-moz-transform: scale(1, 0);
		-ms-transform: scale(1, 0);
		-o-transform: scale(1, 0);
		transform: scale(1, 0);
		-webkit-transform-origin: center;
		-moz-transform-origin: center;
		-ms-transform-origin: center;
		-o-transform-origin: center;
		transform-origin: center;
	}
	&:hover {
		img {
			-webkit-transform: scale3d(1.1, 1.1, 1);
			-moz-transform: scale3d(1.1, 1.1, 1);
			-ms-transform: scale3d(1.1, 1.1, 1);
			-o-transform: scale3d(1.1, 1.1, 1);
			transform: scale3d(1.1, 1.1, 1);
		}
		&::before, &::after {
			opacity: 1;
			filter: alpha(opacity = 100);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);
		}
	}
	&.round {
		border-radius: 10px;
		&::before, &::after {
			border-radius: 10px;
		}
	}
}

/* zoom_img */
.zoom_img_wrap {
	overflow: hidden;
	> img {
		/*padding: 20px 50px 50px 50px;*/
		-webkit-transform: scale3d(1, 1, 1);
		-moz-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		-webkit-transition: transform 650ms ease-in-out,filter 650ms ease-in-out;
		-moz-transition: transform 650ms ease-in-out,filter 650ms ease-in-out;
		transition: transform 650ms ease-in-out,filter 650ms ease-in-out;
	}
	&:hover > img {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		-moz-transform: scale3d(1.1, 1.1, 1.1);
		-ms-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.05, 1.05, 1.05);
		/*-webkit-filter: blur(1px);*/
		/*filter: blur(1px);*/
	}
}

/* triangle_down */
.after_triangle_down {
	&::after {
		content: '';
		position: absolute;
		left: calc(50% - 8px);
		top: 100%;
		width: 0;
		height: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 12px solid #ddd;
		clear: both;
	}
	&.color1::after {
		border-top: 12px solid #ffb3b3;
	}
	&.color2::after {
		border-top: 12px solid #a0b3b3;
	}
	&.color3::after {
		border-top: 12px solid #499696;
	}
}


/* tab */
.bh_tab {
	margin: 0 0 50px 0;
	ul {
		list-style: none;
		padding: 0;
	}
	li {
		border: 1px solid #ddd;
		border-right: 0;
		&:last-child {
			border-right: 1px solid #ddd;
		}
	}
	a {
		float: left;
		width: 100%;
		color: #555;
		font-size: 17px;
		font-weight: 400;
		text-decoration: none;
		text-align: center;
		background-color: #f1f1f1;
		padding: 15px 0;
		&:hover {
			cursor: pointer;
			color: #333;
		}
		&.active {
			background-color: #3f48cc;
			color: #fff;
			border-radius: 3px;
			&:hover {
				color: #fff;
			}
		}
	}
}
.li-2, .li-3 ,.li-4 {
	display: none;
}
.bh_tab2 {
	text-align: center;
	border-bottom: 1px solid #B3B4B8;
	margin-bottom: 7px;
	margin-bottom: .7rem;
	a {
		display: block;
		color: #3f3f3f;
		font-size: 15px;
		line-height: 1.4;
		padding: 0;
		margin: 5px;
		margin-bottom: -1px;
		cursor: pointer;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		span {
			display: block;
			position: relative;
			font-weight: 500;
			padding: 0 10px 15px 10px;
		}
		&.active span::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
			border-radius: 0;
			background-color: #333;
		}
	}
	li {
		&:first-child a {
			margin-left: 0;
		}

		&:last-child a {
			margin-right: 0;
		}
	}
}

/* bh_partner_item */
.bh_partner_item {
	display: block;
	width: 100%;
	max-width: 285px;
	height: 75px;
	border: 1px solid #ccc;
	line-height: 73px;
	text-align: center;
	margin: 0 auto;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	&:hover {
		border-color: #333;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	img {
		display: inline-block;
		max-width: 100%;
		max-height: 72px;
		margin-top: -3px;
	}
}

/* bh_history */
.bh_history {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 95px;
		height: 100%;
		border-left: 1px dashed var(--bh_color_gray_300);
	}
	> ul > li {
		position: relative;
		width: 100%;
		margin-bottom: 20px;
		padding-left: 145px;
		box-sizing: border-box;
		.year {
			position: absolute;
			top: 19px;
			left: 0;
			color: #07469b;
			font-size: 27px;
			font-weight: 500;
		}
	}
	.history_content {
		position: relative;
		width: 100%;
		height: auto;
		padding: 25px 30px;
		background-color: #f4f4f4;
		border: 1px solid #e8e8e8;
		box-sizing: border-box;
		&::before {
			content: "";
			position: absolute;
			top: 36px;
			left: -50px;
			width: 50px;
			height: 1px;
			background-color: #e8e8e8;
		}
		.dots {
			position: absolute;
			top: 22px;
			left: -65px;
			width: 30px;
			height: 30px;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
				background: #005ea7;
				margin: auto;
				opacity: 0.16;
			}
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				width: 8px;
				height: 8px;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
				background: #005ea7;
				margin: auto;
				margin-left: -4px;
				margin-top: -4px;
			}
		}
		.date_item {
			position: relative;
			color: #404040;
			margin-top: 10px;
			&:first-child {
				margin-top: 0;
			}
			.date {
				position: absolute;
				top: 0;
				left: 0;
				font-size: 19px;
				line-height: 23px;
				font-weight: 500;
			}
		}
		ul {
			width: 100%;
			padding-left: 60px;
			box-sizing: border-box;
			li {
				position: relative;
				color: #7b7b7b;
				font-weight: 300;
				padding-left: 12px;
				margin-top: 4px;
				&:first-child {
					margin-top: 0;
				}
				&::after {
					content: "";
					display: block;
					position: absolute;
					top: 10px;
					left: 2px;
					width: 3px;
					height: 3px;
					background: #2165b9;
					background: #d2d2d2;
				}
			}
		}
	}
}
@media (max-width: 992px) {
	.bh_history {
		&::before {
			left: 80px;
		}
		> ul > li {
			margin-bottom: 10px;
			padding-left: 115px;
			.year {
				top: 13px;
				font-size: 23px;
			}
		}
		.history_content {
			padding: 20px 25px;
			&::before {
				top: 28px;
				left: -35px;
				width: 35px;
			}
			.dots {
				top: 16px;
				left: -48px;
				width: 25px;
				height: 25px;
				&::after {
					width: 6px;
					height: 6px;
					margin-left: -4px;
					margin-top: -4px;
				}
			}
			.date_item {
				margin-top: 5px;
				.date {
					position: relative;
					font-size: 17px;
					line-height: 17px;
				}
			}
			ul {
				padding-left: 0;
				margin-top: 5px;
				margin-bottom: 10px;
			}
		}
	}
}
@media (max-width: 480px) {
	.bh_history {
		&::before {
			left: 70px;
		}
		> ul > li {
			padding-left: 95px;
			.year {
				top: 13px;
				font-size: 21px;
			}
		}
		.history_content {
			padding: 20px;
			&::before {
				top: 28px;
				left: -25px;
				width: 25px;
			}
			.dots {
				top: 18px;
				left: -35px;
				width: 20px;
				height: 20px;
				&::after {
					width: 4px;
					height: 4px;
					margin-left: -2px;
					margin-top: -2px;
				}
			}
		}
	}
}
@media (max-width: 380px) {
	.bh_history {
		.history_content {
			padding: 15px;
		}
	}
}

/* map_wrap */
.map_wrap {
	border: 1px solid #e9e9e9;
	padding: 5px;
	iframe {
		width: 100%;
		height: 500px;
		vertical-align: middle;
	}
}
.address_wrap {
	.address_title {
		position: relative;
		display: inline-block;
		color: #222;
		font-size: 20px;
		line-height: 20px;
		font-weight: 700;
		letter-spacing: -.6px;
		padding: 16px 0 15px;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 3px;
			background: #222;
		}
	}
	> p {
		height: 56px;
		font-size: 18px;
		line-height: 56px;
		border-bottom: 1px solid #efefef;
		i {
			display: inline-block;
			vertical-align: middle;
			margin-top: -2px;
			margin-right: 10px;
		}
	}
}

/* tel_info */
.tel_info {
	padding: 10px 50px 10px 50px;
	.title {
		h5 {
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
		}
		h6 {
			color: #3F51B5;
			display: inline-block;
			vertical-align: middle;
		}
	}
	.number {
		border-bottom: 1px solid #ddd;
		padding: 10px 0 10px 0;
		img {
			height: 42px;
		}
		h2, h3 {
			display: inline-block;
			vertical-align: top;
			margin: 0;
			margin-left: 10px;
			letter-spacing: -1px;
		}
	}
	.time {
		padding: 10px 0 20px 0;
		img {
			height: 15px;
			margin: 5px 3px 0 0;
		}
		h6 {
			margin: 0;
		}
		span {
			color: #888;
			padding: 2px 0 0 11px;
		}
	}
}
