@charset "UTF-8";
@import "../css/_variables.scss";

/* swiper.main */
.swiper-main {
	height: 500px;
}
.swiper-main .item {
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.swiper-main .item > img {
	display: block;
	width: 100%;
}
.swiper-main .item .slider_content_wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}
.swiper-main .item .slider_content_wrap .slider_content {
	position: relative;
	height: 100%;
	z-index: 99;
}
.swiper-main .item .slider_content_wrap .slider_content img {
	display: initial;
	width: auto;
}
.swiper-main .item .slider_content_wrap span.slider_content_text_1 {
	display: block;
	width: 100%;
	color: #fff;
	font-size: 55px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: -1px;
	text-align: left;
	text-transform: uppercase;
	font-family: 'Roboto', 'Lato', 'Noto Sans KR';
	text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}
.swiper-main .item .slider_content_wrap span.slider_content_text_2 {
	display: block;
	width: 100%;
	color: #fff;
	font-size: 22px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: -1px;
	text-align: left;
	text-transform: uppercase;
	font-family: 'Roboto', 'Lato', 'Noto Sans KR';
	text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}
.swiper-main .item .slider_content_wrap div.slider_content_btn_wrap {
	display: block;
	width: 100%;
	margin-top: 30px;
}
.swiper-main .item .slider_content_wrap div.slider_content_btn_wrap > a {
	display: inline-block;
}
.swiper-main .item .slider_content_wrap div.slider_content_btn_wrap > .slider_content_btn {
	display: inline-block;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: 1px;
	text-align: center;
	font-family: 'Roboto', 'Lato', 'Noto Sans KR';
	padding: 13px 38px;
}
.swiper-main .item > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
}
.slider_content_img {
	position: absolute;
	top: 20%;
	right: -330px;
}

@include media-max(lg) {
	.swiper-main {
		height: 300px;
	}
	.swiper-main .item .slider_content_wrap span.slider_content_text_1 {
		font-size: 22px;
		text-align: center!important;
	}
	.swiper-main .item .slider_content_wrap span.slider_content_text_2 {
		font-size: 18px;
		text-align: center!important;
		text-transform: none;
	}
	.swiper-main .item .slider_content_wrap div.slider_content_btn_wrap {
		text-align: center!important;
	}
	.swiper-main .item .slider_content_wrap div.slider_content_btn_wrap > .slider_content_btn {
		font-size: 15px;
		padding: 10px 28px;
	}
	.slider_content_img {
		position: relative;
		top: -20px;
		right: auto;
		margin: 0 auto;
	}
	.slider_content_img img {
		width: 300px;
	}
}