@charset "UTF-8";
@import "../css/_variables.scss";

/* swiper.default */
.swiper-horizontal {
	.swiper-button-prev,
	.swiper-button-next {
		width: 31px;
		height: 59px;
		margin: 0 35px;
		margin-top: calc(0px - (59px/ 2));
	}
	.swiper-button-prev > svg,
	.swiper-button-next > svg {
		display: none;
	}
	.swiper-button-prev {
		background-image: url('btn.prev.png') !important;
	}
	.swiper-button-next {
		background-image: url('btn.next.png') !important;
	}

	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
	}
}

@include media-max(lg) {

}
